@import '../../../scss/inc';

.DatagridHeaderCell {
  min-height: $height-datagrid-header-default;
  flex-shrink: 0;
  text-align: left;
  border-bottom: 1px solid $coolgrey-20;
  font-weight: $font-weight-semibold;
  font-size: $font-size-small;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  line-height: 1;
  background-color: $white;

  &:not(.DatagridHeaderCell--last) {
    box-shadow: inset -1px 0 0 0 $coolgrey-20;
  }

  &--first-row {
    border-top: 1px solid $coolgrey-20;
  }

  &--first-in-row {
    border-left: 1px solid $coolgrey-20;
    border-bottom-left-radius: $border-radius-default;

    &.DatagridHeaderCell--first-row {
      border-top-left-radius: $border-radius-default;
    }
  }

  &--last-in-row {
    border-right: 1px solid $coolgrey-20;
    border-bottom-right-radius: $border-radius-default;

    &.DatagridHeaderCell--first-row {
      border-top-right-radius: $border-radius-default;
    }
  }

  &--sortable {
    &:hover {
      background-color: $blue-10;
    }
  }
}

.DatagridHeaderCell__resize-handle {
  width: 0;
  height: 100%;
  position: relative;
  opacity: 0;
  cursor: col-resize;

  &:hover {
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    left: -3px;
    top: 0;
    background-color: $coolgrey-20;
  }
}
