<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>

  {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}

  <title>{{ block "title" . }}
    {{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}
  {{ end }}</title>
  <link rel="shortcut icon" href="{{ "favicon.ico" | absURL }}" />
  {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" title="{{ .Site.Title }}" type="application/rss+xml" rel="alternate">
  {{ end }}

  {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}

</head>
<body>

  <div class="main-container{{ if eq .Title "Home" }} main-container--home{{end}}">

    {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}

    <div class="flex--row{{ if ne .Section "components" | and (ne .Section "patterns")  }} flex--col page--single{{end}}">

      {{ if eq .Section "components" | or (eq .Section "patterns")  }}
        {{ block "sidenav" . }}{{ partial "site/sidenav.html" . }}{{ end }}
      {{ end }}

      <main class="content-container{{ if eq .Title "Home" }} content-container--home{{end}}" role="main">
        {{ block "main" . }}{{ end }}
      </main>
    </div>


  </div>

  {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}

</body>
</html>
