%reset-button {
  @extend %focusable;

  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
  color: currentColor;
}

%reset-input {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
}

%reset-styles {
  color: $color-text-default;
  font-size: 1rem;
  font-family: $font-family;
  text-align: initial;
  font-weight: $font-weight-regular;
  font-style: normal;
  text-transform: initial;
}

%link {
  color: $color-text-link;
  text-decoration: none;
  transition: $duration-quick $timing-function color;
  &:hover {
    color: $color-text-link-hover;
    text-decoration: underline;
  }
  &:visited {
    color: $blue-60;
    &:hover {
      color: $blue-70;
    }
  }

  &:focus {
    box-shadow: 0 0 0 3px $blue-30;
    border-radius: $border-radius-default;
  }
}

%visually-hidden {
  opacity: 0;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

%focusable {
  outline: 0;

  .focus-feedback &:focus {
    box-shadow: inset 0 0 0 2px $blue, inset 0 0 0 4px rgba($white, 0.8) !important;
  }
}

%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}
