* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0;
}

input,
textarea {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
}
