@import '../scss/_inc';

$alert-height: 2.5rem;
$alert-text-line-height: 1.2rem;
$alert-text-margin-top: $alert-height / 2 - $alert-text-line-height / 2;

@mixin alert-color($color-bkgd, $color-text, $color-brdr) {
  background: $color-bkgd;
  border: 1px solid $color-brdr;
  color: $color-text;
}

.alert {
  @include alert-color($blue-10, $blue, $blue);
  display: flex;
  align-items: flex-start;
  padding: 0 $spacing-small;
  border-radius: $border-radius-default;
  min-height: $alert-height - $alert-text-margin-top;
  position: relative;

  & + & {
    margin-top: $spacing-medium;
  }
}

.alert--success {
  @include alert-color($green-10, $green, $green);
}

.alert--error {
  @include alert-color($red-10, $red, $red);
}

.alert--warning {
  @include alert-color($purple-10, $purple, $purple);
}

.alert--filled {
  @include alert-color($blue, $white, $blue);

  &.alert--success {
    @include alert-color($green, $white, $green);
  }

  &.alert--error {
    @include alert-color($red, $white, $red);
  }

  &.alert--warning {
    @include alert-color($purple, $white, $purple);
  }
}

.alert__icon,
.alert__close {
  transform: translateY(calc(#{$alert-height / 2} - 50%));
}

.alert__icon {
  font-size: $font-size-x-large;
  margin-right: $spacing-x-small;
}

.alert__message {
  flex: 1;
  padding: $alert-text-margin-top $spacing-x-small;
}

.alert__close {
  font-size: $font-size-large;
  opacity: 1;
}
