@import "../scss/inc";

.Icon {
  display: inline-block;
  font-size: 1em;
  width: 1em;
  height: 1em;
  line-height: 1;
}

.Icon--baseline,
.Icon--left,
.Icon--right {
  font-size: 1em;
}

.Icon--baseline {
  transform: scale(1.5) translateY(0.125em);
}

.Icon--left {
  margin-right: 0.25em;
}

.Icon--right {
  margin-left: 0.25em;
}

.Icon--button {
  @extend %reset-button;

  width: auto;
  height: auto;

  cursor: pointer;
  line-height: 0;
  transition: all $transition;
  border-radius: 50%;
  font-size: 1.25rem;
  border: 1px solid transparent;
  color: $coolgrey-60;

  &:hover {
    color: $coolgrey-80;
  }
}

.Icon__badge {
  fill: $red;
}
