@import '../scss/inc';

.icon {
  display: inline-block;
  font-size: 1em;
  width: 1em;
  height: 1em;
}

.icon--baseline,
.icon--left,
.icon--right {
  font-size: 1.2em;
  line-height: 1;
  transform: translateY(0.2em);
}

.icon--left {
  margin-right: 10px;
}

.icon--right {
  margin-left: 10px;
}
