@import '../scss/inc';

.icon {
  display: inline-block;
  font-size: 1em;
  width: 1em;
  height: 1em;
  line-height: 1;
}

.icon--baseline,
.icon--left,
.icon--right {
  font-size: 1em;
}

.icon--baseline {
  transform: scale(1.25) translateY(0.125em);
}

.icon--left {
  margin-right: 0.25em;
}

.icon--right {
  margin-left: 0.25em;
}

.icon--button {
  @extend %reset-button;
  width: initial;
  height: initial;

  cursor: pointer;
  padding: 0.375em;
  line-height: 0;
  transition: all $transition;
  border-radius: 50%;
  border: 1px solid transparent;
  opacity: 0.5;

  &:hover {
    // background-color: $coolgrey-10;
    // border-color: $coolgrey-20;
    opacity: 1;
  }

  // &:active,
  // &--active {
  //   &,
  //   &:hover {
  //     background-color: $coolgrey-20;
  //   }
  // }
}

.icon__badge {
  fill: $red;
}
