<div class="flex-grid">

  <div class="flex-item">
    <div class="alto-demo alto-demo--center alto-demo--tall">
      <button class="button">Solid Button</button>
    </div>

    <p>
      Solid buttons look heavy on purpose. They direct the user’s attention to the <strong>primary action</strong> the application is suggesting that the user take.
    </p>
  </div>

  <div class="flex-item">
    <div class="alto-demo alto-demo--center alto-demo--tall">
      <button class="button button--outline">Outline Button</button>

    </div>

    <p>
      Outline buttons provide a lighter weight button style. They are used to indicate a <strong>secondary action</strong> that compliments a primary action or to reduce visual noise when there are many action of <strong>equal</strong> importance on the page.
    </p>
  </div>

  <div class="flex-item">
    <div class="alto-demo alto-demo--center alto-demo--tall">
      <button class="button button--flat">Flat Button</button>
    </div>

    <p>
      Flat buttons are used in multiple scenarios. They are used as <strong>tertiary buttons</strong>. They can also be used inline because they are different from content in style and recognizable as buttons alongside content.
    </p>
  </div>

</div>
