@import '../../../scss/inc';

.DropdownItem {
  display: flex;
  align-items: center;
}

.DropdownItem__element {
  flex-grow: 1;
}

.DropdownItem__element--button {
  @extend %reset-button;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $coolgrey-50;
  transition: all $transition;
  padding: $spacing-x-small $spacing-medium;

  &:hover {
    color: $coolgrey-90;
  }

  &--active,
  &--active:hover {
    color: $blue;
  }

  &--disabled,
  &--disabled:hover {
    color: $coolgrey-50;
    text-decoration: line-through;
  }
}

.DropdownItem__element--checkbox {
  margin: 0 $spacing-medium;
}

.DropdownItem__element-title {
  //flex: 1;
  white-space: nowrap;
}

.DropdownItem__more {
  margin-right: $spacing-medium;
}
