@import '../../scss/inc';

$day-size: 36px;

.DatePicker {
  width: 12rem;
}

.DayPicker__a11y-day-button {
  @extend %reset-button;
  color: inherit;
  width: $day-size;
}

.DatePicker__day-picker {
  padding: 0;
  border: 1px solid $coolgrey-20;
}

.DatePicker__header {
  width: calc(#{$day-size * 7} + #{$spacing-small * 2});
  padding: $spacing-small;
  background-color: $coolgrey-15;
  border-radius: $border-radius-default $border-radius-default 0 0;
}

.DatePicker__header-row {
  display: flex;
  flex: 1;
  margin-bottom: $spacing-x-small;
}

.DatePicker__input-primary {
  flex: 1;
  margin-right: $spacing-x-small;
  min-width: 0;
}

.DatePicker__am-pm-choice,
.DatePicker__year-input {
  width: 5.5rem;
}

.DatePicker__year-input {
  text-align: right;
}

.DatePicker__days {
  padding: 0 $spacing-small $spacing-small;
}

.DatePicker__nav {
  display: flex;
  justify-content: space-between;
  padding-top: $spacing-x-small;
}

// react-day-picker overrides

.DayPicker-Month {
  margin: 0;
}

.DayPicker-wrapper {
  padding: 0;
}

.DayPicker-Day {
  border-radius: 50%;
  height: $day-size;
  padding: 0;

  &[aria-disabled='false']:hover {
    background-color: $blue-20;
  }

  &--today {
    color: $blue;
  }

  &--selected {
    background-color: $blue;
  }
}

.DatePicker__calendar-icon {
  font-size: 1em;
}
