@import '../scss/inc';

.Card {
  border: 1px solid $coolgrey-20;
  border-radius: $border-radius-default;
  padding-left: 1px;
  display: flex;

  @each $name,
    $color
      in (
        pink: $pink-50,
        indigo: $indigo-50,
        teal: $teal-50,
        lime: $lime-50,
        yellow: $yellow-50,
        orange: $orange-50,
        red: $red-50,
        green: $green-50
      )
  {
    &--#{$name} {
      border-left-color: $color;
      box-shadow: inset 1px 0 0 $color;
    }
  }

  &--active {
    box-shadow: $drop-shadow;
  }

  &--with-header {
    flex-direction: column;
  }

  &--in-row {
    border-radius: 0;
    border-left-width: 0;

    &.Card--first-in-group {
      border-radius: $border-radius-default 0 0 $border-radius-default;
      &:not(.Card--borderless) {
        border-left-width: 1px;
      }
    }

    &.Card--last-in-group {
      border-radius: 0 $border-radius-default $border-radius-default 0;
    }
  }

  &--in-column {
    border-radius: 0;
    border-top-width: 0;

    &.Card--first-in-group {
      border-radius: $border-radius-default $border-radius-default 0 0;
      &:not(.Card--borderless) {
        border-top-width: 1px;
      }
    }

    &.Card--last-in-group {
      border-radius: 0 0 $border-radius-default $border-radius-default;
    }
  }

  &--borderless {
    border: 0;
  }

  &--dragging {
    &:not(.Card--borderless) {
      border-width: 1px;
      border-radius: $border-radius-default;
    }
  }

  &--simple {
    display: block;
  }
}

.Card__header {
  padding: 0 $spacing-medium;
  border-bottom: 1px solid $coolgrey-20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $coolgrey-10;
  height: 3rem;
}

.Card__drag-handle-container {
  display: flex;
  background-color: $white;
  padding-right: $spacing-x-small;
  padding-left: calc(#{$spacing-x-small} - 1px);
  flex-shrink: 0;
  border-right: 1px solid $coolgrey-20;
  color: $coolgrey-50;
  cursor: grab;

  &:hover {
    color: $coolgrey-80;
  }

  &:active {
    cursor: grabbing;
  }
}

.Card__drag-handle {
  margin: auto;
  cursor: grab;
  color: $coolgrey-50;

  &:hover {
    color: $coolgrey-80;
  }

  &:active {
    cursor: grabbing;
  }
}

.Card__hearder-icon {
  margin-left: $spacing-small;
}

.Card__title {
  font-size: $font-size-large;
  text-transform: uppercase;
  flex: 1;
}

.Card__drag-handle--header {
  margin-right: $spacing-x-small;
}

.Card__actions {
  display: flex;
}

.Card--simple,
.Card__body {
  background-color: $white;
  padding: $spacing-medium;
}

.Card__body {
  flex: 1;
  flex-basis: auto;
  padding-left: calc(#{$spacing-medium} - 1px);

  .Card__drag-handle-container + & {
    padding-left: $spacing-medium;
  }
}
