@import '../scss/inc';

.List {
  background: $white;
  list-style: none;
  overflow: auto;
}

.List__item {
  padding: 0;
  position: relative;

  &--hover,
  &--clickable:hover {
    background-color: $blue-10;
  }

  &--active {
    color: $blue;
  }
}

.List__item-row {
  display: flex;
  padding: 0 $spacing-small;
  align-items: center;

  &--small,
  &--borderless {
    padding: 0 $spacing-x-small;
  }

  &--small {
    font-size: $font-size-small;
  }
}

.List__item-nested-row {
  margin-left: $spacing-large;

  &--bordered {
    margin: $spacing-small;
    margin-left: $spacing-large;
  }
}

.List__field {
  padding: $spacing-small;
  min-width: 0;
  flex-shrink: 0;

  &--small,
  &--borderless {
    padding: $spacing-x-small;
  }

  &--interactive {
    position: relative;
    z-index: 2;
  }

  &--draghandle {
    padding: 0;
  }

  &:not(.List__item--nowrap) {
    @extend %text-ellipsis;
  }

  &--primary {
    flex: 1 auto;

    &.List__field--button {
      @extend %reset-button;
      position: static;
      cursor: pointer;

      .List__item:hover &::after {
        content: '';
        position: absolute;
        z-index: 1;
        background: transparent;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  &--hidden {
    visibility: hidden;

    .List__item-row:hover & {
      visibility: visible;
    }
  }

  &--media {
    min-height: 4rem;
    display: flex;
    &.List__field--small {
      min-height: 2rem;
    }
  }
}

.List__field--checkbox .CheckBox {
  line-height: 1;
}

.List__badges-list {
  list-style: none;
  display: flex;
}

.List__badge {
  &:not(:first-child) {
    margin-left: $spacing-small;
  }
}
