@import '../scss/inc';

.Media {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  line-height: 1.2;

  &--wrap {
    align-items: flex-start;
  }
}

.Media__image {
  max-height: 3.5rem;
  max-width: 3.5rem;

  .Media--large & {
    max-height: 5rem;
    max-width: 5rem;
  }

  .Media--small & {
    max-height: 2rem;
    max-width: 2rem;
  }
}

.Media__image,
.Media__image-placeholder {
  margin-right: $spacing-medium;

  .Media--large & {
    margin-right: $spacing-large;
  }

  .Media--small & {
    margin-right: $spacing-small;
  }
}

.Media__image-placeholder {
  background-color: $coolgrey-20;
  color: $coolgrey-40;
  display: flex;
  height: 3.5rem;
  width: 3.5rem;

  .Media--large & {
    height: 5rem;
    width: 5rem;
  }

  .Media--small & {
    height: 2rem;
    width: 2rem;
  }
}

.Media__image-placeholder-icon {
  margin: auto;
  font-size: 2rem;

  .Media--large & {
    font-size: 3.5rem;
  }

  .Media--small & {
    font-size: 1rem;
  }
}

.Media__content {
  flex: 1;
  min-width: 0;
}

.Media__title {
  font-size: $font-size-large;
  font-weight: $font-weight-semibold;
  color: $color-text-default;

  .Media--large & {
    font-size: $font-size-x-large;
    font-weight: $font-weight-regular;
  }

  .Media--small & {
    font-size: $font-size-medium;
  }

  .Media--active & {
    color: $blue;
  }

  .Media--white & {
    color: $white;
  }
}

.Media__title,
.Media__subtitle,
.Media__description {
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;

  .Media--wrap & {
    white-space: normal;
  }
}

.Media__subtitle {
  text-transform: uppercase;
}

.Media__subtitle,
.Media__description {
  font-size: $font-size-small;
  color: $coolgrey-60;

  .Media--active & {
    color: $blue;
  }

  .Media--large & {
    font-size: $font-size-large;
  }

  .Media--white & {
    color: $white;
    opacity: 0.6;
  }
}
