// Typography

.text--h1,
.text--h2,
.text--h3,
.text--h4,
.text--h5,
.text--h6 {
  font-weight: $font-weight-semibold;
  line-height: $line-height-heading;
  color: $coolgrey-80;
}

.text--h1 {
  font-size: $font-size-h1;
  line-height: $line-height-base;
}

.text--h2 {
  font-size: $font-size-h2;
}

.text--h3 {
  font-size: $font-size-h3;
}

.text--h4 {
  font-size: $font-size-h4;
}

.text--h5 {
  font-size: $font-size-h5;
}

.text--h6 {
  font-size: $font-size-h6;
}


.link {
  color: $blue-60;
  text-decoration: none;
  transition: $duration-quick $timing-function color;
  &:hover,
  &--hover {
    color: $blue-70;
    text-decoration: underline;
  }
  &:visited,
  &--visited {
    color: $blue-60;
    &:hover {
      color: $blue-70;
    }
  }
}
