@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #333C48;
  background: #fff;
  line-height: 1.625; }

.button {
  padding: 1rem;
  background: #0074E0;
  color: #fff; }
