@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #333C48;
  background: #fff;
  line-height: 1; }

.button {
  padding: 1rem;
  background: #0074E0;
  color: #fff; }

.text--h1,
.text--h2,
.text--h3,
.text--h4,
.text--h5,
.text--h6 {
  font-weight: 600;
  line-height: 1.2;
  color: #333C48; }

.text--h1 {
  font-size: 2.5rem;
  line-height: 1; }

.text--h2 {
  font-size: 2rem; }

.text--h3 {
  font-size: 1.75rem; }

.text--h4 {
  font-size: 1.5rem; }

.text--h5 {
  font-size: 1.25rem; }

.text--h6 {
  font-size: 1rem; }

.link {
  color: #0074E0;
  text-decoration: none;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) color; }
  .link:hover, .link--hover {
    color: #005BB1;
    text-decoration: underline; }
  .link:visited, .link--visited {
    color: #732EA0; }
    .link:visited:hover, .link--visited:hover {
      color: #5A1885; }
