@import '../../scss/inc';

.textfield {
  @extend %focusable;
  font: inherit;
  background: transparent;
  outline: 0;

  font-size: $font-size-medium;
  background-color: $white;
  color: $color-text-default;
  border-radius: $border-radius-default;
  border: 1px solid $color-input-border;
  font-weight: 400;
  height: $height-default;
  padding: 0 0.625rem;
  display: flex;
  transition: all $transition;
  align-items: center;

  > * {
    & + .textfield__input {
      margin-left: 0.625rem;
    }

    .textfield__input + & {
      margin-left: 0.625rem;
    }
  }

  &:hover:not(.textfield--readOnly):not(.textfield--disabled),
  &--focus:not(.textfield--readOnly),
  &--focus:hover:not(.textfield--readOnly) {
    border-color: $blue-40;
    box-shadow: 0 0 0 1px $blue-40;
  }

  &--focus:not(.textfield--readOnly),
  &--focus:hover:not(.textfield--readOnly) {
    border-color: $blue;
    box-shadow: 0 0 0 1px $blue;
  }

  &--readOnly:hover {
    cursor: default;
  }

  &--disabled {
    cursor: not-allowed;
    color: $coolgrey-40;
    background: $coolgrey-10;
    border-color: $coolgrey-20;
    box-shadow: none;
  }
}

.textfield__input {
  @extend %text-ellipsis;

  flex: 1;
  flex-basis: auto;
  min-width: 0;
  line-height: $line-height-input;

  &::placeholder {
    color: $coolgrey-40;
  }
}

.textfield--success {
  border-color: $green;

  &:hover {
    border-color: $green-40;
    box-shadow: 0 0 0 1px $green-40;
  }

  &:focus,
  &:focus:hover {
    border-color: $green;
    box-shadow: 0 0 0 1px $green;
  }
}

.textfield--error {
  border-color: $red;

  &:hover {
    border-color: $red-40;
    box-shadow: 0 0 0 1px $red-40;
  }

  &:focus,
  &:focus:hover {
    border-color: $red;
    box-shadow: 0 0 0 1px $red;
  }
}

.textfield--large {
  //padding: 0 1rem/10;
  line-height: $height-large;
  height: $height-large;
}

.textfield--small {
  font-size: $font-size-small;
  line-height: $height-small;
  height: $height-small;
}

.textfield--area {
  height: 8em;
  resize: none;
  display: block;
  width: calc(100% - #{$spacing-small * 2});
  padding: 0.625rem;

  &::placeholder {
    color: $coolgrey-40;
  }
}

.textfield--right {
  text-align: right;
}
