@import '../../scss/inc';

.textfield {
  @extend %focusable;
  font: inherit;
  background: transparent;
  outline: 0;

  font-size: $font-size-medium;
  background-color: $white;
  color: $color-text-default;
  border-radius: $border-radius-default;
  border: 1px solid $color-input-border;
  font-weight: 400;
  line-height: $line-height-input;
  height: $height-default;
  padding: 0 0.625rem;
  display: block;
  width: 100%;
  transition: all $transition;

  &[readonly] {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
    background: transparent;
  }

  &::placeholder {
    color: $coolgrey-40;
  }

  &:hover:not(.textfield--readOnly):not([disabled]) {
    border-color: $blue;
    box-shadow: 0 0 0 1px $blue;
  }

  &:focus:not(.textfield--readOnly),
  &:focus:hover:not(.textfield--readOnly) {
    border-color: $color-input-border;
    box-shadow: $drop-shadow;
  }

  &--readOnly:hover {
    cursor: default;
  }

  &:disabled {
    cursor: not-allowed;
    color: $coolgrey-40;
    background: $coolgrey-10;
    border-color: $coolgrey-20;
    box-shadow: none;
  }
}

.textfield--success {
  border-color: $green;
  &:focus {
    border-color: $green;
    box-shadow: 0 0 0 3px $green-20;
  }
}

.textfield--error {
  border-color: $red;
  &:focus {
    border-color: $red;
    box-shadow: 0 0 0 3px $red-20;
  }
}

.textfield--large {
  //padding: 0 1rem/10;
  line-height: $height-large;
  height: $height-large;
}

.textfield--small {
  font-size: $font-size-small;
  line-height: $height-small;
  height: $height-small;
}

.textfield--area {
  height: 8em;
  resize: none;
}

.textfield--right {
  text-align: right;
}
