@import '../scss/inc';

.Dropdown {
  padding: 0;
  // abtitary amount
  max-width: 55rem;

  .Dropdown--left,
  .Dropdown--right {
    &.Dropdown--start {
      margin-top: -$spacing-small;
    }
    &.Dropdown--end {
      margin-bottom: -$spacing-small;
    }
  }
}

.Dropdown__list {
  list-style: none;
  padding: $spacing-x-small;
  // abtitary amount
  max-height: 20rem;
  overflow: auto;
}

.Dropdown__trigger-content {
  max-width: 20rem;
  @extend %text-ellipsis;
}

.Dropdown__trigger-spinner {
  margin-left: $spacing-small;
}

.Dropdown__items-spinner {
  width: 10rem;
  height: 6rem;
}
