@import '../scss/inc';

.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: $font-size-large;
  font-size: $font-size-medium;
}

.Pagination__range {
  line-height: $font-size-x-large;
  font-weight: $font-weight-regular;
  outline: 0;

  &:active {
    box-shadow: none;
  }
}

.Pagination__range-items {
  font-weight: $font-weight-semibold;
  margin-right: 3px;
}

.Pagination__arrow {
  align-items: center;
  background: transparent;
  border-radius: $spacing-large / 2;
  border: 0;
  color: $coolgrey-50;
  cursor: pointer;
  display: flex;
  font: inherit;
  justify-content: center;
  margin: 0 $spacing-x-small;
  outline: 0;
  min-width: $spacing-large;
  min-height: $spacing-large;
  transition: color $transition, background-color $transition;

  &:hover {
    color: $coolgrey-70;
    background-color: $coolgrey-20;
  }

  &:disabled {
    opacity: 0.5;
  }
}
