@import '../scss/inc';

.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: $font-size-medium;
  font-size: $font-size-medium;
  min-width: $size-xx-small;
  white-space: nowrap;
}

.Pagination__range {
  line-height: $font-size-medium;
  font-weight: $font-weight-regular;
  outline: 0;
  height: $font-size-medium;
  &:active {
    box-shadow: none;
  }
}

.Pagination__range-items {
  font-weight: $font-weight-semibold;
  margin-right: 3px;
}

.Pagination__options {
  padding: $spacing-small;
  min-width: $size-x-small;
  white-space: nowrap;
}

.Pagination__options-row {
  margin-bottom: $spacing-small;
}

.Pagination__options-row--footer {
  justify-content: flex-end;
  margin-top: $spacing-medium;
}

.Pagination__options-page-size,
.Pagination__options-goto-page {
  max-width: 3rem;
  margin: 0 $spacing-small;
}

.Pagination__arrow {
  align-items: center;
  background: transparent;
  border-radius: $spacing-large / 2;
  border: 0;
  color: $coolgrey-50;
  cursor: pointer;
  display: flex;
  font: inherit;
  justify-content: center;
  margin: 0 $spacing-x-small;
  outline: 0;
  min-width: $spacing-large;
  min-height: $spacing-large;
  transition: color $transition, background-color $transition;

  &:hover {
    color: $coolgrey-70;
    background-color: $coolgrey-20;
  }

  &:disabled {
    opacity: 0.5;
  }
}
