@import '../../../scss/inc';

.DatagridRow {
  display: flex;

  &--collapsed {
    display: none;
  }

  &--clickable {
    cursor: pointer;
    outline: 0;
  }

  &--frozen {
    border-right: 2px solid $coolgrey-20;
  }

  &--detached {
    margin-top: $spacing-medium;

    &.DatagridRow--compact {
      margin-top: $spacing-small;
    }
  }
}

.DatagridRow__last-cell {
  min-width: 8rem;
  flex: 1;
}
