@import '../../../scss/inc';

.DatagridRow {
  display: flex;

  &--collapsed {
    display: none;
  }

  &--clickable {
    cursor: pointer;
    outline: 0;
  }
}

.DatagridRow__last-cell {
  border-left: 1px solid $coolgrey-20;
  min-width: 8rem;
  flex: 1;
}
