// ...
@import "../../alto-ui/scss/reset.scss";

html,
body {
  height: 100%;
}

.navbar {
  width: 100%;
  background: $blue-90;
  color: $white;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar__link {
  color: $white;
  padding: 1rem;
  text-decoration: none;
  display: block;
  transition: $duration-quick $timing-function background;
  &:hover {
    background: $blue-80;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
}

.main {
  flex: 1 0 auto;
  width: 100%;
  padding: 2rem 1rem;
  max-width: 78rem;
}

.hero {
  text-align: center;
  @include MQ(Splus) {
    text-align: left;
  }
}

.hero__title {
  font-weight: $font-weight-regular;
  font-size: $font-size-xx-large;
  line-height: 1;
  margin-bottom: 2rem;

  @include MQ(Mplus) {
    font-size: $font-size-xxx-large;
  }
}

.hero__lead {
  font-size: $font-size-large;
  font-weight: $font-weight-light;
  max-width: 38rem;
  line-height: $line-height-lead;
}
