// ...
@import "../../alto-ui/scss/alto-ui";
@import "_prism";
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$layout-border-color: $coolgrey-20;

html,
body {
  height: 100%;
  background: $color-page-bkgd;
  //background-image: url(//basehold.it/i/16); // 24px baseline
}

.navbar {
  width: 100%;
  background: $blue-90;
  color: $white;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.active {
}

.navbar__links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar__brand {
  font-size: $font-size-large;
  font-weight: $font-weight-semibold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  svg {
    height: 1.5rem;
  }
}

.navbar__link {
  color: $white;
  padding: 0 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  transition: $duration-quick $timing-function background;
  &:hover {
    background: $blue-80;
  }
}

.footer {
  width: 100%;
  background: transparent;
  padding: $spacing-x-large $spacing-x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.sidenav--page {
  padding: 2rem 0;
  border-right: 1px solid $layout-border-color;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

}

.sidenav__link {
  text-decoration: none;
  color: $color-text-default;
  display: block;
  padding: 0 1rem;

  &:hover {
    color: $blue;
  }

  &.active {
    background: $blue-20;
  }
}



.sidenav--list{
  list-style-type: none;
  margin-bottom: 1rem;
  > li {
    margin-bottom: 2rem;
  }
}

.sidenav__subnav {
  list-style-type: none;
  li {
    padding-left: 1rem;
  }
}

.flex--row {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: stretch;
  overflow: hidden;
  width: 100%;

}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

.content__header {
  flex: 0 0 auto;
  padding: $spacing-large 2rem;
  box-shadow: 0 1px 0 0 $layout-border-color;
}

.content__body {
  flex: 1 1 auto;
  overflow: auto;

}

.content {
  max-width: 52rem;
  padding: $spacing-large 2rem;
}


.main {
  flex: 1 0 auto;
  width: 100%;
  padding: 2rem 1rem;
  max-width: 78rem;
}

.hero {
  text-align: center;
  @include MQ(Splus) {
    text-align: left;
  }
}

.hero__title {
  font-weight: $font-weight-regular;
  font-size: $font-size-xx-large;
  line-height: 1;
  margin-bottom: 2rem;

  @include MQ(Mplus) {
    font-size: $font-size-xxx-large;
  }
}

.hero__lead {
  font-size: $font-size-large;
  font-weight: $font-weight-light;
  max-width: 38rem;
  line-height: $line-height-lead;
}


.pages-list {
  margin: 2rem 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.pages-list__link {
  font-size: $font-size-large;
  display: block;
  padding: .25rem .5rem;
}


// Example

.alto-example,
.alto-code,
.alto-demo {
  border-radius: $border-radius-default;
  background: $white;
  margin: 1rem 0;
  box-shadow: 0 2px .25rem rgba($coolgrey-80, .125),
  inset 0 0 0 1px $coolgrey-20;
}

.alto-demo {
  padding: 1rem;
  background: $white;
}

.alto-example__code pre {
  border-radius: 0 0 $border-radius-default $border-radius-default;
}
.alto-example__demo {
  padding: 1rem;
  border-bottom: 1px solid $coolgrey-20;
}

.alto-demo--dark-background {
  background: $coolgrey-90;
}

.alto-logo path {
  fill: rgba($white, .8);
  transition: $duration-quick $timing-function fill;

}
.navbar__brand:hover .alto-logo path {
  fill: $white;
}
