// ...
@import "../../alto-ui/scss/reset.scss";


.navbar {
  width: 100%;
  background: $blue-90;
  color: $white;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar__link {
  color: $white;
  padding: 1rem;
  text-decoration: none;
  display: block;
  transition: $duration-quick $timing-function background;
  &:hover {
    background: $blue-80;
  }
}
