// ...
@import "../../alto-ui/scss/alto-ui";
@import "_prism";
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$layout-border-color: $coolgrey-20;

html,
body {
  height: 100%;
  background: $color-page-bkgd;
  //background-image: url(//basehold.it/i/16); // 24px baseline
}

.navbar {
  width: 100%;
  background: $blue-90;
  color: $white;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.navbar--home {
  background: transparent;
  color: $color-text-default;

  .alto-logo g {
    fill: $color-text-default;
    transition: $duration-quick $timing-function fill;

  }
  .navbar__brand:hover .alto-logo g {
    fill: rgba($color-text-default, .7);
  }

  .navbar__link {
    color: $color-text-default;
    &:hover {
      background: transparent;
      box-shadow: inset 0 -4px 0 -1px $blue;
    }
    &.active {
      background: transparent;
      box-shadow: inset 0 -4px 0 -1px $blue;
    }
  }
}

.navbar__links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar__brand {
  font-size: $font-size-large;
  font-weight: $font-weight-semibold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  svg {
    height: 1.5rem;
  }
}

.navbar__link {
  color: $white;
  padding: 0 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  transition: $duration-quick $timing-function all;
  &:hover {
    background: $blue-80;
  }
  &.active {
    background: $blue-80;
  }
}

.footer {
  width: 100%;
  background: transparent;
  padding: $spacing-x-large $spacing-x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.main-container--home {
  height: auto;
  min-height: 100%;
  background: url("../images/Hero-Mock-Up@2x.jpg") top center / cover no-repeat $white;
}

.sidenav--page {
  padding: 1.5rem 0;
  border-right: 1px solid $layout-border-color;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

}

.sidenav__group-title {
  line-height: 1em;
  padding: .5rem 2rem;
  text-transform: uppercase;
  color: $coolgrey-60;
  font-weight: $font-weight-semibold;
}

.sidenav__link {
  text-decoration: none;
  color: $coolgrey-60;
  display: block;
  padding: 0 1rem;
  line-height: $line-height-text;
  border-radius: $border-radius-default 0 0 $border-radius-default;
  transition: $duration-quick $timing-function all;
  &:hover {
    background: $coolgrey-10;
  }

  &.active {
    background: $coolgrey-20;
    color: $coolgrey-70;

  }
}

.alto-hr {
  margin: 1rem 0 .9375rem;
  border: .5px solid transparent;
}

.sidenav--list{
  list-style-type: none;
  margin-bottom: 1rem;
  > li {
    margin-bottom: 2rem;
  }
}

.sidenav__subnav {
  list-style-type: none;
  li {
    padding-left: 2rem;
  }
}

.flex--row {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: stretch;
  overflow: hidden;
  width: 100%;

}

.flex-grid {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include MQ(Mplus) {
    flex-direction: row;
  }
}

.flex-item {
  width: 100%;

  @include MQ(Mplus) {
    flex: 0 1 auto;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.single-col {
  justify-content: center;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

.page--single {
  .content-container {
    max-width: 1200px;
    padding: 0 2rem;
  }
}

.flex--col {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__header {
  flex: 0 0 auto;
  padding: .75rem 2rem;
  box-shadow: 0 1px 0 0 $layout-border-color;

}

.page-header__title {
  margin-bottom: 1rem;
}

.page-header__link,
.page-header__link:visited {
  color: $color-text-default;
  font-size: $font-size-large;
  line-height: 1.5rem;
  padding: 0 1rem;
  height: 2rem;
  &:first-of-type {
    border-right: 1px solid $grey-20;
    padding-left: 0;
  }
}

.content__body {
  flex: 1 1 auto;
  overflow: auto;

}

.content {
  max-width: 52rem;
  padding: $spacing-large 2rem;

  > p {
    margin: 1rem 0;
    &:first-child {
      margin-top: 0;
    }
  }

  > ul {
    margin: 1rem 0;
    padding: 0 0 0 1rem;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 1rem;
  }

  > h2 {
    font-size: $font-size-h5;
    font-weight: $font-weight-regular;
    margin-top: 4rem;

    + h3 {
      margin-top: 2rem;
    }

  }

  > h3 {
    font-size: $font-size-h6;
    font-weight: $font-weight-semibold;
    margin-top: 3rem;
  }

}


.main {
  flex: 1 0 auto;
  width: 100%;
  padding: 2rem 1rem;
  max-width: 78rem;
}

.hero {
  text-align: left;
  padding: 20rem 0 1rem;
  @include MQ(Splus) {
    text-align: left;
  }
  @include MQ(Mplus) {
    padding-top: 10vw;
  }
  @include MQ(Lplus) {
    padding-top: 6.25rem;
  }
}

.hero__title {
  font-weight: $font-weight-regular;
  font-size: $font-size-xx-large;
  line-height: 1;
  margin-bottom: 2rem;
  color: $coolgrey-70;

  @include MQ(Mplus) {
    font-size: $font-size-xxx-large;
  }
}

.hero__actions {
  .button {
    display: block;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    @include MQ(Splus) {
      display: inline-block;
    }
  }
  @include MQ(Splus) {
    .button:not(:last-child) {
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }

}

.hero__lead {
  font-size: $font-size-large;
  font-weight: $font-weight-light;
  max-width: 24rem;
  line-height: $line-height-lead;
  color: $coolgrey-70;

}


.pages-list {
  margin: 2rem 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.pages-list__link {
  font-size: $font-size-large;
  display: block;
  padding: .25rem .5rem;
}




// Example

.alto-example,
.alto-code pre,
.alto-demo {
  border-radius: $border-radius-default;
  margin: 1rem 0;
  box-shadow: 0 2px .25rem rgba($coolgrey-80, .125),
  inset 0 0 0 1px $coolgrey-20;
}

.alto-example,
.alto-demo {
  background: $white;
}

.alto-demo {
  padding: 1rem;
  background: $white;
}

.alto-demo--center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.alto-demo--tall {
  padding-top: 3rem;
  padding-bottom: 3rem;
}



.alto-example__code pre {
  border-radius: 0 0 $border-radius-default $border-radius-default;
}
.alto-example__demo {
  padding: 1rem;
  border-bottom: 1px solid $coolgrey-20;
}

.alto-demo--dark-background {
  background: $coolgrey-90;
}

.alto-logo g {
  fill: rgba($white, .8);
  transition: $duration-quick $timing-function fill;

}
.navbar__brand:hover .alto-logo g {
  fill: $white;
}

.example-tabbed-content {
  background: $white;
  border-radius: 0 0 $border-radius-default $border-radius-default;
  box-shadow:
    inset 0 -1px 0 0 $coolgrey-20,
    inset 1px 0 0 0 $coolgrey-20,
    inset -1px 0 0 0 $coolgrey-20
}
