@import '../scss/inc';

.breadcrumb {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: $font-size-small;
  font-weight: $font-weight-semibold;
}

.breadcrumb__item {
  display: flex;
  align-items: center;
}

.breadcrumb__link {
  @extend %link;
  padding: 0;
}

.breadcrumb__chevron {
  margin: 0 0.125rem;
}

.breadcrumb__chevron--solo {
  margin: 0;
}
