@import '../scss/inc';

.breadcrumb {
  display: flex;
  align-items: center;
  list-style: none;
}

.breadcrumb__item {
  display: flex;
  align-items: center;
}

.breadcrumb__link {
  @extend %link;
  padding: 0;
}

.breadcrumb__chevron {
  margin: 0 0.5rem;
}

.breadcrumb__chevron--solo {
  margin: 0 0.25rem 0 0;
}
