// Typography

.text--h1,
.text--h2,
.text--h3,
.text--h4,
.text--h5,
.text--h6 {
  font-weight: $font-weight-semibold;
  line-height: $line-height-heading;
  color: $coolgrey-80;
}


.text--h1 {
  font-size: $font-size-h1; // 40px
  line-height: 1.2;         // 48px
}


.text--h2 {
  font-size: $font-size-h2; // 32px
  line-height: 1.290322581; // 40px
}

.text--h3 {
  font-size: $font-size-h3; // 28px
  line-height: 1.428571429; // 40px
}

.text--h4 {
  font-size: $font-size-h4; // 24px
  line-height: 1;           // 24px
}

.text--h5 {
  font-size: $font-size-h5; // 20px
  line-height: 1.2;         // 24px
}

.text--h6 {
  font-size: $font-size-h6; // 16px
  line-height: 1.5;         // 24px
}

.text--lead {
  font-size: $font-size-large;
  line-height: 1.7777778;
}

p {
  font-size: 1rem;
  line-height: $line-height-text;
}

code {
  color: $red;
}

.link {
  @extend %link;
}
