@import '../../scss/inc';

.Select--dropdown {
  @extend %reset-button;
}

.Select {
  @extend %focusable;
  font-size: $font-size-medium;
  font-family: $font-family;
  background: $white;
  color: currentColor;
  border-radius: $border-radius-default;
  border: 1px solid $color-input-border;
  font-weight: 400;
  height: $height-default;
  line-height: $height-default;
  display: block;
  width: 100%;
  transition: box-shadow $transition, border-color $transition;

  &:hover:not(.Select--readOnly) {
    border-color: $blue;
    box-shadow: 0 0 0 1px $blue;
  }

  &:focus,
  &:focus:hover {
    border-color: $color-input-border;
    box-shadow: $drop-shadow;
  }

  &--success {
    border-color: $green;
    :focus {
      border-color: $green;
      box-shadow: 0 0 0 3px $green-20;
    }
  }
  &--error {
    border-color: $red;
    &:focus {
      border-color: $red;
      box-shadow: 0 0 0 3px $red-20;
    }
  }

  &--large {
    height: $height-large;
    line-height: $height-large;
  }

  &--small {
    font-size: $font-size-small;
    height: $height-small;
    line-height: $height-small;
  }

  &:disabled:not(.Select--readOnly),
  &--disabled:not(.Select--readOnly) {
    cursor: not-allowed;
    color: $coolgrey-40;
    background: $coolgrey-10;
    border-color: $coolgrey-20;
    box-shadow: none;
  }

  &--readOnly,
  &--readOnly:hover,
  &--readOnly:focus,
  &--readOnly:disabled {
    &::-ms-expand {
      display: none;
    }
  }
}

.Select--native {
  outline: 0;
  &.Select--multiple {
    height: initial;
  }
}

.Select--dropdown {
  text-align: left;
  display: flex;
  align-items: center;
  width: 100%;

  &.Select--open {
    &,
    &:hover {
      border-color: $color-input-border;
      box-shadow: $drop-shadow;
    }
  }
}

.Select--dropdown__wrapper {
  &--clearable {
    position: relative;
  }
  &:hover .Select--dropdown__icon--clear,
  .Select--dropdown:focus + .Select--dropdown__icon--clear {
    opacity: 1;
  }
  &:hover .Select--dropdown__label--clearable,
  .Select--dropdown:focus + .Select--dropdown__label--clearable {
    padding-right: 1.5rem;
  }
}

.Select--dropdown__label {
  @extend %text-ellipsis;

  flex: 1;
  flex-basis: auto;
  min-width: 0;
  padding-left: $input-padding;
  line-height: 1.2;
}

.Select--dropdown__icon {
  line-height: 0;
  height: 100%;
  color: $color-input-border;
}

.Select--dropdown__icon--chevron,
.Select--dropdown__icon--clear {
  line-height: 0;
  display: flex;
  padding: 0 $spacing-small;

  > * {
    margin: auto;
  }
}

.Select--dropdown__icon--clear {
  opacity: 0;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: $spacing-x-small;
    bottom: $spacing-x-small;
    width: 0;
    border-right: 1px solid $coolgrey-20;
  }
  &:focus {
    opacity: 1;
  }
}

.Select--dropdown__icon--chevron {
  padding-right: $input-padding;
}
