@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #333C48;
  background: #fff;
  line-height: 1; }

.button {
  padding: 1rem;
  background: #0074E0;
  color: #fff; }

.text--h1,
.text--h2,
.text--h3,
.text--h4,
.text--h5,
.text--h6 {
  font-weight: 600;
  line-height: 1.2;
  color: #333C48; }

.text--h1 {
  font-size: 2.5rem;
  line-height: 1; }

.text--h2 {
  font-size: 2rem; }

.text--h3 {
  font-size: 1.75rem; }

.text--h4 {
  font-size: 1.5rem; }

.text--h5 {
  font-size: 1.25rem; }

.text--h6 {
  font-size: 1rem; }

.link {
  color: #0074E0;
  text-decoration: none;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) color; }
  .link:hover, .link--hover {
    color: #005BB1;
    text-decoration: underline; }
  .link:visited, .link--visited {
    color: #732EA0; }
    .link:visited:hover, .link--visited:hover {
      color: #5A1885; }

html,
body {
  height: 100%; }

.navbar {
  width: 100%;
  background: #002C55;
  color: #fff;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.navbar__links {
  display: flex;
  flex-direction: row;
  list-style: none; }

.navbar__link {
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  display: block;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) background; }
  .navbar__link:hover {
    background: #02417C; }

.footer {
  width: 100%;
  background: #EBF2F9;
  padding: 3rem 2rem; }

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center; }

.content-container {
  flex: 1 0 auto;
  width: 100%;
  padding: 2rem 1rem;
  max-width: 78rem; }

.hero {
  text-align: center; }
  @media only screen and (min-width: 560px) {
    .hero {
      text-align: left; } }

.hero__title {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 768px) {
    .hero__title {
      font-size: 3.25rem; } }

.hero__lead {
  font-size: 1.25rem;
  font-weight: 300;
  max-width: 38rem;
  line-height: 1.35; }
