@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.Button {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0; }

html {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #333C48;
  background: #fff;
  line-height: 1; }

.Button {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0; }

/*
.Button {
  font-weight: $font-weight-regular;
  font-size: $font-size-medium;
  font-family: $font-family;
  padding: .5rem 1rem;
  line-height: 1.375;
  background: $color-button-base;
  border: 1px solid $color-button-base;
  cursor: pointer;
  color: $white;
  transition: $duration-quick $timing-function all;
  &:hover,
  &.active {
    background: $color-button-accent;
    border-color: $color-button-accent;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $blue-30;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $blue-90;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $blue-30,
        inset 0 2px 0 0 $blue-90;
  }

  + .Button {
    margin-left: .25rem;
  }
}

.button--success {
  background: $green;
  border-color: $green;
  &:hover,
  &.active {
    background: $green-80;
    border-color: $green-80;
  }
  &:focus {
    box-shadow: 0 0 0 3px $green-30;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $green-90;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $green-30,
        inset 0 2px 0 0 $green-90;
  }
}

.button--danger {
  background: $red;
  border-color: $red;
  &:hover,
  &.active {
    background: $red-80;
    border-color: $red-80;
  }
  &:focus {
    box-shadow: 0 0 0 3px $red-30;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $red-90;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $red-30,
        inset 0 2px 0 0 $red-90;
  }
}

.button--small {
  font-size: $font-size-small;
  line-height: $line-height-button-small;
  padding: .125rem .75rem;
}


// Outline

.button--outline {
  background: $white;
  border-color: $blue;
  color: $blue;
  &:hover,
  &.active {
    background: $blue-10;
    border-color: $blue-70;
    color: $blue-70;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $blue-20;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $blue-30,
        inset 0 2px 0 0 $blue-20;
  }
}

.button--outline.button--success {
  background: $white;
  border-color: $green;
  color: $green;
  &:hover,
  &.active {
    background: $green-10;
    border-color: $green-70;
    color: $green-70;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $green-20;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $green-30,
        inset 0 2px 0 0 $green-20;
  }
}

.button--outline.button--danger {
  background: $white;
  border-color: $red;
  color: $red;
  &:hover,
  &.active {
    background: $red-10;
    border-color: $red-70;
    color: $red-70;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $red-20;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $red-30,
        inset 0 2px 0 0 $red-20;
  }
}

// Flat

.button--flat {
  background: transparent;
  border-color: transparent;
  color: $blue;
  &:hover,
  &.active {
    background: transparent;
    border-color: transparent;
    color: $blue-70;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $blue-20;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $blue-30,
        inset 0 2px 0 0 $blue-20;
  }
}

.button--flat.button--success {
  color: $green;
  &:hover,
  &.active {
    color: $green-70;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $green-20;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $green-30,
        inset 0 2px 0 0 $green-20;
  }
}

.button--flat.button--danger {
  color: $red;
  &:hover,
  &.active {
    color: $red-70;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $red-20;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $red-30,
        inset 0 2px 0 0 $red-20;



*/
/* --------------------------------------------- *  MIXIN BUTTON SOLID
\* --------------------------------------------- */
/* --------------------------------------------- *  MIXIN BUTTON OUTLINE
\* --------------------------------------------- */
/* --------------------------------------------- *  MIXIN BUTTON FLAT
\* --------------------------------------------- */
/* --------------------------------------------- *  STYLES
\* --------------------------------------------- */
.Button {
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid transparent;
  font-weight: 400;
  line-height: 2.375;
  padding: 0 2em;
  text-align: center;
  display: inline-block;
  transition: background 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97), box-shadow 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97), border-color 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97);
  background: #0074E0;
  color: white;
  border-color: #0074E0; }
  .Button:focus {
    box-shadow: 0 0 0 3px #B1D9FF; }
  .Button:disabled {
    cursor: not-allowed; }
  .Button:focus {
    box-shadow: 0 0 0 3px #B1D9FF; }
  .Button:hover, .Button.Button--active {
    background: #02417C;
    border-color: #02417C; }
  .Button:active {
    background: #0074E0;
    border-color: #0074E0;
    box-shadow: 0 0 0 3px #B1D9FF, inset 0 2px 0 #02417C; }
  .Button:disabled {
    background: #A2B8CE;
    border-color: #A2B8CE; }

.Button--success {
  background: #208831;
  color: white;
  border-color: #208831; }
  .Button--success:focus {
    box-shadow: 0 0 0 3px #C9F1CF; }
  .Button--success:hover, .Button--success.Button--active {
    background: #035410;
    border-color: #035410; }
  .Button--success:active {
    background: #208831;
    border-color: #208831;
    box-shadow: 0 0 0 3px #C9F1CF, inset 0 2px 0 #035410; }
  .Button--success:disabled {
    background: #A2B8CE;
    border-color: #A2B8CE; }

.Button--danger {
  background: #C30014;
  color: white;
  border-color: #C30014; }
  .Button--danger:focus {
    box-shadow: 0 0 0 3px #FFCAD0; }
  .Button--danger:hover, .Button--danger.Button--active {
    background: #74000C;
    border-color: #74000C; }
  .Button--danger:active {
    background: #C30014;
    border-color: #C30014;
    box-shadow: 0 0 0 3px #FFCAD0, inset 0 2px 0 #74000C; }
  .Button--danger:disabled {
    background: #A2B8CE;
    border-color: #A2B8CE; }

.Button--inverse {
  background: white;
  color: #333C48;
  border-color: white; }
  .Button--inverse:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2); }
  .Button--inverse:hover, .Button--inverse.Button--active {
    background: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8); }
  .Button--inverse:active {
    background: white;
    border-color: white;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.8); }
  .Button--inverse:disabled {
    background: #A2B8CE;
    border-color: #A2B8CE; }

.Button--outline {
  background: transparent;
  color: #0074E0;
  border-color: #0074E0; }
  .Button--outline:focus {
    box-shadow: 0 0 0 3px #B1D9FF; }
  .Button--outline:hover, .Button--outline.Button--active {
    background: #F3F9FF;
    border-color: #0074E0; }
  .Button--outline:active {
    background: transparent;
    box-shadow: 0 0 0 3px #B1D9FF, inset 0 2px 0 #0074E0; }
  .Button--outline:disabled {
    background: transparent;
    color: #5F788C;
    border-color: #5F788C; }
  .Button--outline.Button--success {
    background: transparent;
    color: #208831;
    border-color: #208831; }
    .Button--outline.Button--success:focus {
      box-shadow: 0 0 0 3px #C9F1CF; }
    .Button--outline.Button--success:hover, .Button--outline.Button--success.Button--active {
      background: #F4FFF6;
      border-color: #208831; }
    .Button--outline.Button--success:active {
      background: transparent;
      box-shadow: 0 0 0 3px #C9F1CF, inset 0 2px 0 #208831; }
    .Button--outline.Button--success:disabled {
      background: transparent;
      color: #5F788C;
      border-color: #5F788C; }
  .Button--outline.Button--danger {
    background: transparent;
    color: #C30014;
    border-color: #C30014; }
    .Button--outline.Button--danger:focus {
      box-shadow: 0 0 0 3px #FFCAD0; }
    .Button--outline.Button--danger:hover, .Button--outline.Button--danger.Button--active {
      background: #FFF1F3;
      border-color: #C30014; }
    .Button--outline.Button--danger:active {
      background: transparent;
      box-shadow: 0 0 0 3px #FFCAD0, inset 0 2px 0 #C30014; }
    .Button--outline.Button--danger:disabled {
      background: transparent;
      color: #5F788C;
      border-color: #5F788C; }
  .Button--outline.Button--inverse {
    background: transparent;
    color: white;
    border-color: white; }
    .Button--outline.Button--inverse:focus {
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2); }
    .Button--outline.Button--inverse:hover, .Button--outline.Button--inverse.Button--active {
      background: rgba(255, 255, 255, 0.1);
      border-color: white; }
    .Button--outline.Button--inverse:active {
      background: transparent;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2), inset 0 2px 0 white; }
    .Button--outline.Button--inverse:disabled {
      background: transparent;
      color: #5F788C;
      border-color: #5F788C; }

.Button--flat {
  color: #0074E0; }
  .Button--flat, .Button--flat:hover, .Button--flat:active, .Button--flat:disabled, .Button--flat.Button--active {
    background: transparent;
    border-color: transparent; }
  .Button--flat:focus {
    box-shadow: 0 0 0 3px #B1D9FF; }
  .Button--flat:hover, .Button--flat.Button--active {
    color: #02417C; }
  .Button--flat:active {
    color: #0074E0;
    box-shadow: 0 0 0 3px #B1D9FF; }
  .Button--flat:disabled {
    color: #5F788C; }
  .Button--flat.Button--success {
    color: #208831; }
    .Button--flat.Button--success, .Button--flat.Button--success:hover, .Button--flat.Button--success:active, .Button--flat.Button--success:disabled, .Button--flat.Button--success.Button--active {
      background: transparent;
      border-color: transparent; }
    .Button--flat.Button--success:focus {
      box-shadow: 0 0 0 3px #C9F1CF; }
    .Button--flat.Button--success:hover, .Button--flat.Button--success.Button--active {
      color: #035410; }
    .Button--flat.Button--success:active {
      color: #208831;
      box-shadow: 0 0 0 3px #C9F1CF; }
    .Button--flat.Button--success:disabled {
      color: #5F788C; }
  .Button--flat.Button--danger {
    color: #C30014; }
    .Button--flat.Button--danger, .Button--flat.Button--danger:hover, .Button--flat.Button--danger:active, .Button--flat.Button--danger:disabled, .Button--flat.Button--danger.Button--active {
      background: transparent;
      border-color: transparent; }
    .Button--flat.Button--danger:focus {
      box-shadow: 0 0 0 3px #FFCAD0; }
    .Button--flat.Button--danger:hover, .Button--flat.Button--danger.Button--active {
      color: #74000C; }
    .Button--flat.Button--danger:active {
      color: #C30014;
      box-shadow: 0 0 0 3px #FFCAD0; }
    .Button--flat.Button--danger:disabled {
      color: #5F788C; }
  .Button--flat.Button--inverse {
    color: white; }
    .Button--flat.Button--inverse, .Button--flat.Button--inverse:hover, .Button--flat.Button--inverse:active, .Button--flat.Button--inverse:disabled, .Button--flat.Button--inverse.Button--active {
      background: transparent;
      border-color: transparent; }
    .Button--flat.Button--inverse:focus {
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2); }
    .Button--flat.Button--inverse:hover, .Button--flat.Button--inverse.Button--active {
      color: rgba(255, 255, 255, 0.8); }
    .Button--flat.Button--inverse:active {
      color: white;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2); }
    .Button--flat.Button--inverse:disabled {
      color: #5F788C; }

.Button--large {
  font-size: 1.125rem;
  line-height: 2.67;
  padding: 0 3em; }

.Button--small {
  font-size: 0.75rem;
  line-height: 2;
  padding: 0 1.5em; }

.Button--block {
  display: block;
  width: 100%; }

.list--interactive {
  border-radius: 3px;
  background: #fff;
  display: flex;
  flex-direction: column;
  list-style: none;
  border: 1px solid #C4D7EB; }
  .list--interactive li:not(:last-child) {
    border-bottom: 1px solid #C4D7EB; }

.list-item--active a,
.list-item--active a:hover {
  background: #B1D9FF; }

.list--interactive__link {
  padding: .75rem 1.25rem;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  font-weight: 600;
  color: #333C48;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) background; }
  .list--interactive__link:hover {
    background: #F3F9FF;
    color: #333C48;
    text-decoration: none; }

.avatar,
.avatar img {
  border-radius: 500px; }

.alert {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: 3px;
  background: #0074E0;
  border: 1px solid #0074E0;
  color: #fff; }
  .alert + .alert {
    margin-top: 1rem; }

.alert--success {
  background: #208831;
  border: 1px solid #208831;
  color: #fff; }

.alert--danger {
  background: #C30014;
  border: 1px solid #C30014;
  color: #fff; }

.alert__icon {
  flex: 0 1 auto; }

.alert__message {
  flex: 1 0 auto;
  padding: 0 .5rem; }

.alert__close {
  flex: 0 1 auto; }

.m-top--none {
  margin-top: 0; }

.m-right--none {
  margin-right: 0; }

.m-bottom--none {
  margin-bottom: 0; }

.m-left--none {
  margin-left: 0; }

.m-vertical--none {
  margin-top: 0;
  margin-bottom: 0; }

.m-horizontal--none {
  margin-right: 0;
  margin-left: 0; }

.m-around--none {
  margin: 0; }

.m-top--xxx-small {
  margin-top: 0.125rem; }

.m-right--xxx-small {
  margin-right: 0.125rem; }

.m-bottom--xxx-small {
  margin-bottom: 0.125rem; }

.m-left--xxx-small {
  margin-left: 0.125rem; }

.m-vertical--xxx-small {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-horizontal--xxx-small {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.m-around--xxx-small {
  margin: 0.125rem; }

.m-top--xx-small {
  margin-top: 0.25rem; }

.m-right--xx-small {
  margin-right: 0.25rem; }

.m-bottom--xx-small {
  margin-bottom: 0.25rem; }

.m-left--xx-small {
  margin-left: 0.25rem; }

.m-vertical--xx-small {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-horizontal--xx-small {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.m-around--xx-small {
  margin: 0.25rem; }

.m-top--x-small {
  margin-top: 0.5rem; }

.m-right--x-small {
  margin-right: 0.5rem; }

.m-bottom--x-small {
  margin-bottom: 0.5rem; }

.m-left--x-small {
  margin-left: 0.5rem; }

.m-vertical--x-small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-horizontal--x-small {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.m-around--x-small {
  margin: 0.5rem; }

.m-top--small {
  margin-top: 0.75rem; }

.m-right--small {
  margin-right: 0.75rem; }

.m-bottom--small {
  margin-bottom: 0.75rem; }

.m-left--small {
  margin-left: 0.75rem; }

.m-vertical--small {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-horizontal--small {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.m-around--small {
  margin: 0.75rem; }

.m-top--medium {
  margin-top: 1rem; }

.m-right--medium {
  margin-right: 1rem; }

.m-bottom--medium {
  margin-bottom: 1rem; }

.m-left--medium {
  margin-left: 1rem; }

.m-vertical--medium {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-horizontal--medium {
  margin-right: 1rem;
  margin-left: 1rem; }

.m-around--medium {
  margin: 1rem; }

.m-top--large {
  margin-top: 1.5rem; }

.m-right--large {
  margin-right: 1.5rem; }

.m-bottom--large {
  margin-bottom: 1.5rem; }

.m-left--large {
  margin-left: 1.5rem; }

.m-vertical--large {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-horizontal--large {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.m-around--large {
  margin: 1.5rem; }

.m-top--x-large {
  margin-top: 2rem; }

.m-right--x-large {
  margin-right: 2rem; }

.m-bottom--x-large {
  margin-bottom: 2rem; }

.m-left--x-large {
  margin-left: 2rem; }

.m-vertical--x-large {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-horizontal--x-large {
  margin-right: 2rem;
  margin-left: 2rem; }

.m-around--x-large {
  margin: 2rem; }

.m-top--xx-large {
  margin-top: 3rem; }

.m-right--xx-large {
  margin-right: 3rem; }

.m-bottom--xx-large {
  margin-bottom: 3rem; }

.m-left--xx-large {
  margin-left: 3rem; }

.m-vertical--xx-large {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-horizontal--xx-large {
  margin-right: 3rem;
  margin-left: 3rem; }

.m-around--xx-large {
  margin: 3rem; }

.p-top--none {
  padding-top: 0; }

.p-right--none {
  padding-right: 0; }

.p-bottom--none {
  padding-bottom: 0; }

.p-left--none {
  padding-left: 0; }

.p-vertical--none {
  padding-top: 0;
  padding-bottom: 0; }

.p-horizontal--none {
  padding-right: 0;
  padding-left: 0; }

.p-around--none {
  padding: 0; }

.p-top--xxx-small {
  padding-top: 0.125rem; }

.p-right--xxx-small {
  padding-right: 0.125rem; }

.p-bottom--xxx-small {
  padding-bottom: 0.125rem; }

.p-left--xxx-small {
  padding-left: 0.125rem; }

.p-vertical--xxx-small {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-horizontal--xxx-small {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.p-around--xxx-small {
  padding: 0.125rem; }

.p-top--xx-small {
  padding-top: 0.25rem; }

.p-right--xx-small {
  padding-right: 0.25rem; }

.p-bottom--xx-small {
  padding-bottom: 0.25rem; }

.p-left--xx-small {
  padding-left: 0.25rem; }

.p-vertical--xx-small {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-horizontal--xx-small {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.p-around--xx-small {
  padding: 0.25rem; }

.p-top--x-small {
  padding-top: 0.5rem; }

.p-right--x-small {
  padding-right: 0.5rem; }

.p-bottom--x-small {
  padding-bottom: 0.5rem; }

.p-left--x-small {
  padding-left: 0.5rem; }

.p-vertical--x-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-horizontal--x-small {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.p-around--x-small {
  padding: 0.5rem; }

.p-top--small {
  padding-top: 0.75rem; }

.p-right--small {
  padding-right: 0.75rem; }

.p-bottom--small {
  padding-bottom: 0.75rem; }

.p-left--small {
  padding-left: 0.75rem; }

.p-vertical--small {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-horizontal--small {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.p-around--small {
  padding: 0.75rem; }

.p-top--medium {
  padding-top: 1rem; }

.p-right--medium {
  padding-right: 1rem; }

.p-bottom--medium {
  padding-bottom: 1rem; }

.p-left--medium {
  padding-left: 1rem; }

.p-vertical--medium {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-horizontal--medium {
  padding-right: 1rem;
  padding-left: 1rem; }

.p-around--medium {
  padding: 1rem; }

.p-top--large {
  padding-top: 1.5rem; }

.p-right--large {
  padding-right: 1.5rem; }

.p-bottom--large {
  padding-bottom: 1.5rem; }

.p-left--large {
  padding-left: 1.5rem; }

.p-vertical--large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-horizontal--large {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.p-around--large {
  padding: 1.5rem; }

.p-top--x-large {
  padding-top: 2rem; }

.p-right--x-large {
  padding-right: 2rem; }

.p-bottom--x-large {
  padding-bottom: 2rem; }

.p-left--x-large {
  padding-left: 2rem; }

.p-vertical--x-large {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-horizontal--x-large {
  padding-right: 2rem;
  padding-left: 2rem; }

.p-around--x-large {
  padding: 2rem; }

.p-top--xx-large {
  padding-top: 3rem; }

.p-right--xx-large {
  padding-right: 3rem; }

.p-bottom--xx-large {
  padding-bottom: 3rem; }

.p-left--xx-large {
  padding-left: 3rem; }

.p-vertical--xx-large {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-horizontal--xx-large {
  padding-right: 3rem;
  padding-left: 3rem; }

.p-around--xx-large {
  padding: 3rem; }

.flex--shrink {
  flex: 0 1 auto; }

.flex--grow {
  flex: 1 0 auto; }

.text--h1,
.text--h2,
.text--h3,
.text--h4,
.text--h5,
.text--h6 {
  font-weight: 600;
  line-height: 1.2;
  color: #333C48; }

.text--h1 {
  font-size: 2.5rem;
  line-height: 1; }

.text--h2 {
  font-size: 2rem; }

.text--h3 {
  font-size: 1.75rem; }

.text--h4 {
  font-size: 1.5rem; }

.text--h5 {
  font-size: 1.25rem; }

.text--h6 {
  font-size: 1rem; }

.text--muted {
  color: #5F788C; }

.text--font-weight-regular {
  font-weight: 400; }

.link {
  color: #0074E0;
  text-decoration: none;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) color; }
  .link:hover {
    color: #005BB1;
    text-decoration: underline; }

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+scss */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #C4D7EB;
  font-family: Inconsolata, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  font-size: 1rem;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 0 1rem 1rem;
  margin: 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #192328; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8096AC; }

.token.punctuation {
  color: #8096AC; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #2D91EE; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #CD9AEE; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #E57D14;
  background: transparent; }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #8CC332; }

.token.function {
  color: #EB6D7A; }

.token.regex,
.token.important,
.token.variable {
  color: #E57D14; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

html,
body {
  height: 100%;
  background: #F9F9FB; }

.navbar {
  width: 100%;
  background: #002C55;
  color: #fff;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.navbar__links {
  display: flex;
  flex-direction: row;
  list-style: none; }

.navbar__brand {
  font-size: 1.125rem;
  font-weight: 600; }

.navbar__link {
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  display: block;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) background; }
  .navbar__link:hover {
    background: #02417C; }

.footer {
  width: 100%;
  background: transparent;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center; }

.content-container {
  flex: 1 0 auto;
  width: 100%;
  padding: 2rem 1rem;
  max-width: 78rem; }

.hero {
  text-align: center; }
  @media only screen and (min-width: 560px) {
    .hero {
      text-align: left; } }

.hero__title {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 768px) {
    .hero__title {
      font-size: 3.25rem; } }

.hero__lead {
  font-size: 1.125rem;
  font-weight: 300;
  max-width: 38rem;
  line-height: 1.35; }

.pages-list {
  margin: 2rem 0;
  list-style-type: none;
  display: flex;
  flex-direction: column; }

.pages-list__link {
  font-size: 1.125rem;
  display: block;
  padding: .25rem .5rem; }

.alto-example,
.alto-code {
  border-radius: 3px;
  border: 1px solid #C4D7EB;
  margin: 1rem 0;
  box-shadow: 0 2px 0.25rem rgba(51, 60, 72, 0.125); }

.alto-example__code pre {
  border-radius: 0 0 3px 3px; }

.alto-example__demo {
  background: #fff;
  padding: 1rem;
  border-bottom: 1px solid #C4D7EB;
  border-radius: 3px 3px 0 0; }
