@import '../../scss/inc';

.Switch {
  //padding: $spacing-small 0;
  height: $height-default;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.Switch__input {
  @extend %visually-hidden;
}

.Switch__label {
  font-size: $font-size-medium;
  outline: 0;
  display: flex;
  align-items: center;
  font-weight: $font-weight-semibold;
  font-family: $font-family-alt;
  user-select: none;
  color: $coolgrey-60;
  cursor: pointer;

  .Switch__input:disabled + & {
    cursor: not-allowed;
    color: $coolgrey-30;
  }
}

.Switch__element {
  cursor: pointer;
  width: 2rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  background-color: $coolgrey-60;
  border-radius: 0.5rem;
  margin-right: 0.25em;

  .Switch__input:focus + .Switch__label & {
    box-shadow: 0 0 0 3px $blue-20;
    @include focused(true);
  }

  .Switch__input:disabled + .Switch__label & {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 0.5rem;
  }

  &::before {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: $blue;
    transition: all $transition;
    transform: translateX(-1rem);

    .Switch__input:checked + .Switch__label & {
      transform: translateX(0);
    }
  }
  &::after {
    width: 1rem;
    height: 1rem;
    border-radius: $border-radius-circle;
    background-color: $white;
    box-shadow: inset 0 0 0 2px $coolgrey-60;
    left: 0;

    .Switch__input:checked + .Switch__label & {
      box-shadow: inset 0 0 0 2px $blue;
      transform: translateX(1rem);
    }
  }
}
