@import '../../../scss/inc';

.DatagridGroupedRow__button {
  height: $height-datagrid-header-default;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: $font-size-small;
  border-bottom: 1px solid $coolgrey-20;
  font-weight: $font-weight-semibold;
  display: flex;
  background-color: $row-header-bkgd;
  align-items: center;
  cursor: pointer;

  &--compact {
    height: $height-datagrid-header-compact;
  }

  &--comfortable {
    height: $height-datagrid-header-comfortable;
  }
}

.DatagridGroupedRow__toggle-wrapper {
  display: flex;
  width: 40px;
  flex-shrink: 0;
}

.DatagridGroupedRow__toggle-icon {
  transition: all $transition;
  margin: auto;
}

.DatagridGroupedRow__toggle-icon--collapsed {
  transform: rotate(-90deg);
}

.DatagridGroupedRow__toggle-content {
  flex: 1;
  min-width: 0;
  margin-right: $spacing-x-small;
}

.DatagridGroupedRow__toggle-name {
  @extend %text-ellipsis;
  font-size: 0.6875rem;
  line-height: 1.25;
  color: $coolgrey-60;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
}

.DatagridGroupedRow__toggle-value {
  @extend %text-ellipsis;
  font-size: $font-size-medium;
  line-height: 1.25;

  .DatagridGroupedRow__button--compact & {
    font-size: $font-size-medium;
  }
}
