@import '../../scss/inc';

.CheckBox {
  position: relative;
  line-height: 2;

  &--without-label {
    line-height: 1;
  }
}

.CheckBox__input {
  @extend %visually-hidden;
}

.CheckBox__label {
  font-size: $font-size-medium;
  padding-left: 1.5em;
  cursor: pointer;
  position: relative;
  outline: 0;
  display: block;
  max-width: 100%;

  .CheckBox--without-label & {
    padding-left: 1em;
    height: 1em;
  }

  &--readOnly {
    cursor: default;
  }

  &--disabled {
    cursor: not-allowed;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    display: block;
    transition: background-color, box-shadow, border-color $transition;
  }

  &::before {
    left: 0;
    border: 1px solid $color-input-border;
    background-color: white;
    top: 0.5em;
    height: 0.875em;
    width: 0.875em;
    border-radius: $border-radius-default;

    .CheckBox--without-label & {
      top: 0;
    }

    input:checked + & {
      border-color: $blue;
      background-color: $blue;
    }

    input:disabled:not(.CheckBox__input--readOnly) + & {
      background-color: $blue-10;
    }

    input:checked:disabled:not(.CheckBox__input--readOnly) + & {
      border-color: $coolgrey-20;
      background-color: $blue-10;
    }

    input:focus + & {
      box-shadow: 0 0 0 3px $blue-20;
      @include focused(true);
    }
  }

  &::after {
    input:checked + & {
      transform: rotate(-45deg);
      left: 0.1875em;
      top: 0.75em;
      height: 0.25em;
      width: 0.5em;
      border-left: 2px solid white;
      border-bottom: 2px solid white;

      .CheckBox--without-label & {
        top: 0.25em;
      }
    }

    input:checked:disabled:not(.CheckBox__input--readOnly) + & {
      border-left: 2px solid $coolgrey-30;
      border-bottom: 2px solid $coolgrey-30;
    }
  }
}

.CheckBox__label-text {
  @extend %multiline-label;

  &--hidden {
    @extend %visually-hidden;
    position: fixed;

    margin: 0;
  }
}
