.Button {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0; }

/*
.Button {
  font-weight: $font-weight-regular;
  font-size: $font-size-medium;
  font-family: $font-family;
  padding: .5rem 1rem;
  line-height: 1.375;
  background: $color-button-base;
  border: 1px solid $color-button-base;
  cursor: pointer;
  color: $white;
  transition: $duration-quick $timing-function all;
  &:hover,
  &.active {
    background: $color-button-accent;
    border-color: $color-button-accent;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $blue-30;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $blue-90;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $blue-30,
        inset 0 2px 0 0 $blue-90;
  }

  + .Button {
    margin-left: .25rem;
  }
}

.button--success {
  background: $green;
  border-color: $green;
  &:hover,
  &.active {
    background: $green-80;
    border-color: $green-80;
  }
  &:focus {
    box-shadow: 0 0 0 3px $green-30;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $green-90;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $green-30,
        inset 0 2px 0 0 $green-90;
  }
}

.button--danger {
  background: $red;
  border-color: $red;
  &:hover,
  &.active {
    background: $red-80;
    border-color: $red-80;
  }
  &:focus {
    box-shadow: 0 0 0 3px $red-30;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $red-90;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $red-30,
        inset 0 2px 0 0 $red-90;
  }
}

.button--small {
  font-size: $font-size-small;
  line-height: $line-height-button-small;
  padding: .125rem .75rem;
}


// Outline

.button--outline {
  background: $white;
  border-color: $blue;
  color: $blue;
  &:hover,
  &.active {
    background: $blue-10;
    border-color: $blue-70;
    color: $blue-70;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $blue-20;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $blue-30,
        inset 0 2px 0 0 $blue-20;
  }
}

.button--outline.button--success {
  background: $white;
  border-color: $green;
  color: $green;
  &:hover,
  &.active {
    background: $green-10;
    border-color: $green-70;
    color: $green-70;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $green-20;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $green-30,
        inset 0 2px 0 0 $green-20;
  }
}

.button--outline.button--danger {
  background: $white;
  border-color: $red;
  color: $red;
  &:hover,
  &.active {
    background: $red-10;
    border-color: $red-70;
    color: $red-70;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $red-20;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $red-30,
        inset 0 2px 0 0 $red-20;
  }
}

// Flat

.button--flat {
  background: transparent;
  border-color: transparent;
  color: $blue;
  &:hover,
  &.active {
    background: transparent;
    border-color: transparent;
    color: $blue-70;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $blue-20;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $blue-30,
        inset 0 2px 0 0 $blue-20;
  }
}

.button--flat.button--success {
  color: $green;
  &:hover,
  &.active {
    color: $green-70;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $green-20;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $green-30,
        inset 0 2px 0 0 $green-20;
  }
}

.button--flat.button--danger {
  color: $red;
  &:hover,
  &.active {
    color: $red-70;
  }
  &:active {
    box-shadow: inset 0 2px 0 0 $red-20;
  }
  &:focus:active {
      box-shadow:
        0 0 0 3px $red-30,
        inset 0 2px 0 0 $red-20;



*/
/* --------------------------------------------- *  MIXIN BUTTON SOLID
\* --------------------------------------------- */
/* --------------------------------------------- *  MIXIN BUTTON OUTLINE
\* --------------------------------------------- */
/* --------------------------------------------- *  MIXIN BUTTON FLAT
\* --------------------------------------------- */
/* --------------------------------------------- *  STYLES
\* --------------------------------------------- */
.Button {
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid transparent;
  font-weight: 400;
  line-height: 2.375;
  padding: 0 2em;
  text-align: center;
  display: inline-block;
  transition: background 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97), box-shadow 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97), border-color 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97);
  background: #0074E0;
  color: white;
  border-color: #0074E0; }
  .Button:focus {
    box-shadow: 0 0 0 3px #B1D9FF; }
  .Button:disabled {
    cursor: not-allowed; }
  .Button:focus {
    box-shadow: 0 0 0 3px #B1D9FF; }
  .Button:hover, .Button.Button--active {
    background: #02417C;
    border-color: #02417C; }
  .Button:active {
    background: #0074E0;
    border-color: #0074E0;
    box-shadow: 0 0 0 3px #B1D9FF, inset 0 2px 0 #02417C; }
  .Button:disabled {
    background: #A2B8CE;
    border-color: #A2B8CE; }

.Button--success {
  background: #208831;
  color: white;
  border-color: #208831; }
  .Button--success:focus {
    box-shadow: 0 0 0 3px #C9F1CF; }
  .Button--success:hover, .Button--success.Button--active {
    background: #035410;
    border-color: #035410; }
  .Button--success:active {
    background: #208831;
    border-color: #208831;
    box-shadow: 0 0 0 3px #C9F1CF, inset 0 2px 0 #035410; }
  .Button--success:disabled {
    background: #A2B8CE;
    border-color: #A2B8CE; }

.Button--danger {
  background: #C30014;
  color: white;
  border-color: #C30014; }
  .Button--danger:focus {
    box-shadow: 0 0 0 3px #FFCAD0; }
  .Button--danger:hover, .Button--danger.Button--active {
    background: #74000C;
    border-color: #74000C; }
  .Button--danger:active {
    background: #C30014;
    border-color: #C30014;
    box-shadow: 0 0 0 3px #FFCAD0, inset 0 2px 0 #74000C; }
  .Button--danger:disabled {
    background: #A2B8CE;
    border-color: #A2B8CE; }

.Button--outline {
  background: transparent;
  color: #0074E0;
  border-color: #0074E0; }
  .Button--outline:focus {
    box-shadow: 0 0 0 3px #B1D9FF; }
  .Button--outline:hover, .Button--outline.Button--active {
    background: #F3F9FF;
    border-color: #0074E0; }
  .Button--outline:active {
    background: transparent;
    box-shadow: 0 0 0 3px #B1D9FF, inset 0 2px 0 #0074E0; }
  .Button--outline:disabled {
    background: transparent;
    color: #5F788C;
    border-color: #5F788C; }
  .Button--outline.Button--success {
    background: transparent;
    color: #208831;
    border-color: #208831; }
    .Button--outline.Button--success:focus {
      box-shadow: 0 0 0 3px #C9F1CF; }
    .Button--outline.Button--success:hover, .Button--outline.Button--success.Button--active {
      background: #F4FFF6;
      border-color: #208831; }
    .Button--outline.Button--success:active {
      background: transparent;
      box-shadow: 0 0 0 3px #C9F1CF, inset 0 2px 0 #208831; }
    .Button--outline.Button--success:disabled {
      background: transparent;
      color: #5F788C;
      border-color: #5F788C; }
  .Button--outline.Button--danger {
    background: transparent;
    color: #C30014;
    border-color: #C30014; }
    .Button--outline.Button--danger:focus {
      box-shadow: 0 0 0 3px #FFCAD0; }
    .Button--outline.Button--danger:hover, .Button--outline.Button--danger.Button--active {
      background: #FFF1F3;
      border-color: #C30014; }
    .Button--outline.Button--danger:active {
      background: transparent;
      box-shadow: 0 0 0 3px #FFCAD0, inset 0 2px 0 #C30014; }
    .Button--outline.Button--danger:disabled {
      background: transparent;
      color: #5F788C;
      border-color: #5F788C; }

.Button--flat {
  color: #0074E0; }
  .Button--flat, .Button--flat:hover, .Button--flat:active, .Button--flat:disabled, .Button--flat.Button--active {
    background: transparent;
    border-color: transparent; }
  .Button--flat:focus {
    box-shadow: 0 0 0 3px #B1D9FF; }
  .Button--flat:hover, .Button--flat.Button--active {
    color: #02417C; }
  .Button--flat:active {
    color: #0074E0;
    box-shadow: 0 0 0 3px #B1D9FF; }
  .Button--flat:disabled {
    color: #5F788C; }
  .Button--flat.Button--success {
    color: #208831; }
    .Button--flat.Button--success, .Button--flat.Button--success:hover, .Button--flat.Button--success:active, .Button--flat.Button--success:disabled, .Button--flat.Button--success.Button--active {
      background: transparent;
      border-color: transparent; }
    .Button--flat.Button--success:focus {
      box-shadow: 0 0 0 3px #C9F1CF; }
    .Button--flat.Button--success:hover, .Button--flat.Button--success.Button--active {
      color: #035410; }
    .Button--flat.Button--success:active {
      color: #208831;
      box-shadow: 0 0 0 3px #C9F1CF; }
    .Button--flat.Button--success:disabled {
      color: #5F788C; }
  .Button--flat.Button--danger {
    color: #C30014; }
    .Button--flat.Button--danger, .Button--flat.Button--danger:hover, .Button--flat.Button--danger:active, .Button--flat.Button--danger:disabled, .Button--flat.Button--danger.Button--active {
      background: transparent;
      border-color: transparent; }
    .Button--flat.Button--danger:focus {
      box-shadow: 0 0 0 3px #FFCAD0; }
    .Button--flat.Button--danger:hover, .Button--flat.Button--danger.Button--active {
      color: #74000C; }
    .Button--flat.Button--danger:active {
      color: #C30014;
      box-shadow: 0 0 0 3px #FFCAD0; }
    .Button--flat.Button--danger:disabled {
      color: #5F788C; }

.Button--large {
  font-size: 1.125rem;
  line-height: 2.67;
  padding: 0 3em; }

.Button--small {
  font-size: 0.875rem;
  line-height: 2;
  padding: 0 1.5em; }

.Button--block {
  display: block;
  width: 100%; }
