@import '../../scss/inc';

.Typeahead__menu {
  max-height: 300px;
  overflow: auto;
  padding: 0;
}

.Typeahead__not-matched {
  font-weight: $font-weight-bold;
}

.Typeahead__custom-item {
  padding: $spacing-x-small ($spacing-x-small + $spacing-small);
  color: $coolgrey-40;
}

.Typeahead__custum-item--loading {
  display: flex;
  align-items: center;
}

.Typeahead__loading-spinner {
  margin-right: $spacing-x-small;
}
