<header id="navbar" class="navbar {{ if eq .Title "Home" }} navbar--home{{end}}" role="banner">
  <button class="navlinks-toggle button button--flat button--white" data-toggle="pagenav">Menu</button>

  <a class="navbar__brand" href="{{ .Site.BaseURL }}">{{ partial "svgs/alto.html" . }}</a>

  <button class="navlinks-toggle button button--flat button--white" data-toggle="navlinks">Menu</button>
  <ul class="navbar__links">
    {{- $currentPage := . -}}
    {{ range .Site.Menus.main -}}
    <li>
        <a class="navbar__link{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
    </li>
    {{- end }}

  </ul>

</header>
