<nav class="sidenav--page">
  <ul class="sidenav--list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.docs }}
      {{ if .HasChildren }}

        <li class="sub-menu{{if $currentPage.HasMenuCurrent "docs" . }} active{{end}}">
          <button class="sidenav__group-title">
            {{ .Pre }}
            <span>{{ .Name }}</span>
            <span class="menu-arrow arrow_carrot-right"></span>
          </button>
          <ul class="sidenav__subnav">
            {{ range .Children }}
              <li><a href="{{.URL}}" class="sidenav__link{{if $currentPage.IsMenuCurrent "docs" . }} active{{end}}"> {{ .Name }} </a> </li>
            {{ end }}
          </ul>
        {{end}}
      </li>
    {{end}}
  </ul>
</nav>
