@import '../../../scss/inc';

.DatagridHeaderRow {
  display: flex;
  flex: 1;
  flex-basis: auto;

  &--frozen {
    border-right: 2px solid $coolgrey-20;
  }
}

.DatagridHeaderRow__group {
  display: flex;
  flex-direction: column;
}

.DatagridHeaderRow__group-title {
  flex-shrink: 0;
  height: $height-datagrid-header-default;
  line-height: $height-datagrid-header-default;
  overflow: hidden;
  border-top: 1px solid $coolgrey-20;
  border-bottom: 1px solid $coolgrey-20;
  font-weight: $font-weight-semibold;
  font-size: $font-size-small;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 0.625rem;
  text-align: center;
  background-color: $white;
  box-shadow: inset -1px 0 0 0 $coolgrey-20;
  text-transform: uppercase;

  .DatagridHeaderRow__group--first-in-row & {
    border-top-left-radius: $border-radius-default;
    border-left: 1px solid $coolgrey-20;
  }

  .DatagridHeaderRow__group--last-in-row & {
    border-top-right-radius: $border-radius-default;
    border-right: 1px solid $coolgrey-20;
  }

  .DatagridHeaderRow__group--last &,
  &--followed-by-empty {
    box-shadow: none;
  }
}

.DatagridHeaderRow__group-columns {
  display: flex;
  flex: 1;
  flex-basis: auto;
}

.DatagridHeaderRow__checkbox-container {
  background-color: $white;
  border-bottom: 1px solid $coolgrey-20;
  border-left: 1px solid $coolgrey-20;
  display: flex;
  align-items: center;
  width: $height-datagrid-default;
  box-shadow: inset -1px 0 0 0 $coolgrey-20;
  height: 100%;
  border-bottom-left-radius: $border-radius-default;

  &--first-row {
    border-top-left-radius: $border-radius-default;
    border-top: 1px solid $coolgrey-20;
  }

  &--last {
    box-shadow: none;
  }
}

.DatagridHeaderRow__checkbox {
  margin: auto;
}

.DatagridHeaderRow__last-cell {
  min-width: 9rem;
  flex: 1;
}
