@import '../scss/inc';

.Header {
  background: $white;
  padding-right: $spacing-medium;
  padding-left: $spacing-medium;
  display: flex;
  align-items: center;
  height: $header-height;
  border-bottom: 1px solid $coolgrey-20;
}

.Header__title-group {
  line-height: 1;
  .Header__super-title + .Header__title {
    margin-top: $spacing-x-small;
  }
}

.Header__super-title {
  font-size: $font-size-x-small;
  text-transform: uppercase;
  color: $coolgrey-40;
  font-weight: $font-weight-regular;
}

.Header__super-title-link {
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

.Header__title {
  font-size: 1.125rem;
  font-weight: $font-weight-bold;
}

.Header__loader {
  margin-left: $spacing-medium;
}

.Header__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  > * {
    margin-left: $spacing-small;
  }
}
