@import '../scss/inc';

.tabs {
  list-style: none;
  display: flex;
  border-bottom: 1px solid $coolgrey-20;
}

.tabs__link {
  display: block;
  padding: 0.5rem 1.5rem;
  color: $color-text-muted;
  font-weight: $font-weight-semibold;
  text-decoration: none;
  cursor: pointer;
  transition: all $duration-quick $timing-function,
    box-shadow $duration-quick ease-in-out $duration-quick;

  &:hover,
  &:active {
    color: $blue;
    box-shadow: inset 0 -2px 0 $blue, 0 1px 0 $blue;
  }

  &:focus {
    box-shadow: 0 0 0 3px $blue-30;
    border-radius: $border-radius-default;
  }
}

.tabs__link--active {
  color: $blue;
  box-shadow: inset 0 -2px 0 $blue, 0 1px 0 $blue;
  cursor: default;

  &:focus {
    box-shadow: inset 0 -1px 0 $blue, 0 1px 0 $blue, 0 0 0 3px $blue-30;
  }
}

.tabs--panel {
  margin-bottom: 0;
}

.tabs__link--panel {
  &.tabs__link--active {
    background: $white;
    border-radius: $border-radius-default $border-radius-default 0 0;
    box-shadow: inset 0 1px 0 0 $coolgrey-20, inset 1px 0 0 0 $coolgrey-20,
      inset -1px 0 0 0 $coolgrey-20;
    position: relative;
    top: 1px;
  }
}
