// --- COLORS ---

$color__grey--ultra-light: #f5f7fa;
$color__grey--light: #dee2e8;
$color__grey: #92999f;
$color__grey--dark: #343c47;
$color__primary: #3185f7;
$color__primary--light: #f3f9fe;

$color__font--main: $color__grey--dark;


// --- FONT FAMILIES

$font-family--main: 'Source Sans Pro', sans-serif;


// --- SIZES ---

$size__font--main: 14px;


// --- LINEHEIGHT ---

$lineheight--main: 1.2;


// --- breakpoints ---

$breakpoint__narrow-medium: 768px;
$breakpoint__medium-wide: 1024px;
