// --- COLORS ---

$color__primary: dodgerblue;
$color__secondary: turquoise;
$color__font--main: black;


// --- FONT FAMILIES

$font-family--main: "Helvetica Neue", Helvetica, arial, sans-serif;


// --- SIZES ---

$size__font--main: 14px;


// --- LINEHEIGHT ---

$lineheight--main: 1.2;


// --- breakpoints ---

$breakpoint__narrow-medium: 768px;
$breakpoint__medium-wide: 1024px;
