@import '../../../scss/inc';

.DatagridCellInput {
  display: none;
  margin: 0;
  flex: 1;
  min-width: 0;

  // TODO Refactor this to not nest
  .Select--dropdown__label {
    font-size: $font-size-small;
  }
  &--comfortable {
    .Select--dropdown__label {
      font-size: $font-size-medium;
    }
  }

  //TODO refactor this to not nest
  &.InputNumber {
    max-width: none;
  }

  &--number,
  &--percentage,
  &--int,
  &--integer,
  &--float {
    .textfield {
      text-align: right;
      height: $height-default;
      line-height: $height-default;
      font-size: $font-size-small;
      box-shadow: none;
    }
  }

  &--comfortable {
    .textfield {
      height: $height-large;
      line-height: $height-large;
      font-size: $font-size-medium;
    }
  }

  &--compact {
    .textfield {
      height: $height-small;
      line-height: $height-small;
    }
  }

  &--editing {
    display: block;
    border-color: $blue-60;
    box-shadow: 0 0 0 1px $blue;
    border-radius: $border-radius-default;
    font-size: $font-size-small;
    width: 100%;
  }

  &--list,
  &--select,
  &--boolean {
    display: block;

    &.DatagridCellInput--edited .Select {
      font-weight: bold;
    }
  }
}
