@import '../../../scss/inc';

.DatagridCellInput {
  margin: 0;
  flex: 1;
  min-width: 0;

  &:not(.DatagridCellInput--editing) {
    display: none;
  }

  // TODO Refactor this to not nest
  .textfield {
    height: $height-datagrid-default - 0.375;
    font-size: $font-size-small;
  }

  .textfield__input {
    line-height: $height-datagrid-compact - 0.375;
  }

  //TODO refactor this to not nest
  &.InputNumber {
    max-width: none;
  }

  &--number,
  &--percentage,
  &--int,
  &--integer,
  &--float {
    .textfield {
      text-align: right;
    }
  }

  &--comfortable {
    .textfield {
      height: $height-datagrid-comfortable - 0.75;
      font-size: $font-size-large;
    }

    .textfield__input {
      line-height: $height-datagrid-compact - 0.75;
    }
  }

  &--compact {
    .textfield {
      height: $height-datagrid-compact - 0.125;
    }

    .textfield__input {
      line-height: $height-datagrid-compact - 0.125;
    }
  }

  &--editing {
    border-radius: $border-radius-default;
    font-size: $font-size-small;
    width: 100%;
  }

  &--list,
  &--select,
  &--boolean {
    &.DatagridCellInput--edited .Select {
      font-weight: bold;
    }
  }
}
