@import '../../scss/inc';

.label {
  font-size: $font-size-small;
  font-weight: $font-weight-semibold;
  color: $coolgrey-60;
  text-align: left;
  padding-bottom: $spacing-xx-small;
  display: block;
  border-bottom: 1px solid transparent;

  &--read-only {
    border-bottom-color: $coolgrey-20;
  }

  &--hidden {
    @extend %visually-hidden;
  }
}
