@import '../../scss/inc';

.label {
  font-size: $font-size-small;
  font-weight: $font-weight-semibold;
  color: $coolgrey-80;
  text-align: left;
  padding-bottom: $spacing-xxx-small;
  display: block;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;

  &--read-only {
    border-bottom-color: $coolgrey-20;
  }

  &--hidden {
    @extend %visually-hidden;
  }
}
