@import '../scss/inc';

.Table {
  border: 1px solid $coolgrey-20;
  border-radius: $border-radius-default;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  background-color: $white;
}

.Table__table {
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 100%;
}

.Table__cell {
  border-bottom: 1px solid $coolgrey-20;
  overflow: hidden;
  text-align: left;

  tbody tr:last-child > & {
    border-bottom: 0;
  }

  &--number,
  &--int,
  &--float,
  &--double {
    text-align: right;
  }

  &--boolean,
  &--bit,
  &--error {
    text-align: center;
  }

  &--error {
    color: $red;
    font-size: $font-size-large;
  }

  &--formula {
    font-style: italic;
  }
}

.Table__cell-content {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.75rem 1rem;
  overflow: hidden;
  min-width: 100%;

  .Table--compact & {
    padding: 0.4rem 0.75rem;
  }

  .Table--comfortable & {
    padding: 1rem;
  }

  &--image,
  &--avatar {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    display: flex;

    .Table--compact & {
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }

    .Table--comfortable & {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  &--image {
    > * {
      margin: auto;
    }
  }

  &--header {
    color: $coolgrey-60;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: left;

    .Table--compact & {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .Table--comfortable & {
      padding-top: 0.875rem;
      padding-bottom: 0.875rem;
    }
  }
}

.Table__cell--header {
  &:not(:first-child) {
    border-left: 1px solid $coolgrey-20;
  }
}

.Table__cell--header {
  font-weight: $font-weight-semibold;
  font-size: $font-size-small;

  &:not(:first-child) {
    border-left: 1px solid $coolgrey-20;
  }
}

.Table__cell--sortable {
  padding: 0;
}

.Table__cell-button {
  @extend %reset-button;
  transition: all $transition;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $blue-10;
  }
}

.Table__header-cell-title {
  width: calc(100% - calc(2rem - 12px));
  max-width: calc(100% - calc(2rem - 12px));
  text-overflow: ellipsis;
  overflow: hidden;

  .Table--compact & {
    width: calc(100% - calc(1.5rem - 12px));
    max-width: calc(100% - calc(1.5rem - 12px));
  }

  .Table__cell--sorted & {
    color: $blue;
  }
}

.Table__header-cell-sortable-icons {
  display: flex;
  flex-direction: column;
  font-size: $font-size-x-small;
  margin-left: $spacing-small;
  line-height: 0;
}

.Table__header-cell-sortable-icon {
  color: $coolgrey-30;

  &--active {
    color: $blue;
  }
}

.Table__filter-icon {
  margin-right: $spacing-x-small;

  .Table__cell--filtered & {
    color: $blue;
  }
}
