@import '../scss/inc';

.Table {
  border: 1px solid $coolgrey-20;
  border-radius: $border-radius-default;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
}

.Table__table {
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 100%;
}

.Table__cell {
  border-bottom: 1px solid $coolgrey-20;
  background-color: $white;
  overflow: hidden;

  tbody tr:last-child > & {
    border-bottom: 0;
  }
}

.Table__cell-content {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
  padding: 0.75rem 1rem;
  overflow: hidden;

  .Table--compact & {
    padding: 0.4rem 0.75rem;
  }

  .Table--wide & {
    padding: 1rem;
  }

  &--number,
  &--int,
  &--float,
  &--double {
    text-align: right;
  }

  &--boolean,
  &--bit {
    text-align: center;
  }

  &--image {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    display: flex;

    > * {
      margin: auto;
    }

    .Table--compact & {
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }

    .Table--wide & {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}

.Table__cell--header {
  &:not(:first-child) {
    border-left: 1px solid $coolgrey-20;
  }
}

.Table__cell--header {
  color: $coolgrey-60;
  font-weight: $font-weight-semibold;
  font-size: $font-size-small;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;

  &:not(:first-child) {
    border-left: 1px solid $coolgrey-20;
  }

  .Table--compact & {
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
  }

  .Table--wide & {
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
  }
}

.Table__cell--sortable {
  padding: 0;
}

.Table__cell-button {
  @extend %reset-button;
  transition: all $transition;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $blue-10;
    box-shadow: inset 0 0 0 1px $blue;
    color: $blue;
    position: relative;
  }
}

.Table__header-cell-title {
  flex: 1;
  .Table__cell--sorted & {
    color: $blue;
  }
}

.Table__header-cell-sortable-icons {
  display: flex;
  flex-direction: column;
  font-size: $font-size-x-small;
  margin-left: $spacing-small;
  line-height: 0;
}

.Table__header-cell-sortable-icon {
  color: $coolgrey-30;

  &--active {
    color: $blue;
  }
}
