@import '../scss/inc';

.Datagrid {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  // Misalignement on last rows
  line-height: 1;
}

.Datagrid__horizontal-scroll-element {
  height: $height-scrollbar;
  background-color: transparent;
}
.Datagrid__horizontal-scroll-container {
  position: absolute;
  bottom: 0;
  right: $height-scrollbar;
  width: 100%;
  overflow-x: scroll;
  z-index: 1000;
}

.Datagrid__body {
  display: flex;
  flex: 1 1 0;
  min-height: 0;
  padding-bottom: $height-scrollbar;
}

.Datagrid__head {
  display: flex;
  overflow: hidden;
  .ps__rail-x {
    display: none;
  }
}

.Datagrid__header-container {
  overflow-y: hidden;
}

.Datagrid__header-row--frozen,
.Datagrid__header-row-container {
  border: 1px solid $coolgrey-20;
  border-bottom: 0;
}

.Datagrid__header-row-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
}

.Datagrid__header-row {
  display: flex;
  flex-direction: column;
}

.Datagrid__rows--frozen {
  border: 1px solid $coolgrey-20;
  .ps__rail-y {
    display: none;
  }
}

.Datagrid__rows--static {
  position: relative;
  width: 100%;
  border: 1px solid $coolgrey-20;
}

.Datagrid__rows-container {
  overflow-x: hidden;
  overflow-y: visible;
  -ms-overflow-style: none;

  &--isMacOS {
    overflow-x: scroll;
  }
}

.Datagrid__no-data-label {
  font-size: $spacing-xx-large;
  color: $coolgrey-40;
  text-align: center;
  padding: 0;
  margin: auto;
}

.DataGrid__row-checkbox-container {
  display: flex;
  align-items: center;
  width: $height-datagrid-default;
  border-bottom: 1px solid $coolgrey-20;
  border-left: 1px solid $coolgrey-20;
  background-color: $white;
  height: $height-datagrid-default;

  &--first-row {
    border-top: 1px solid $coolgrey-20;
    border-top-left-radius: $border-radius-default;
  }

  &--last-row {
    border-bottom-left-radius: $border-radius-default;
  }

  &--compact {
    height: $height-datagrid-compact;
  }

  &--comfortable {
    height: $height-datagrid-comfortable;
  }

  &--header {
    height: 2.5rem;

    &.DataGrid__row-checkbox-container--comfortable {
      height: 3.5rem;
    }
  }
}

.DataGrid__row-checkbox {
  margin: auto;
}

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .Datagrid {
    border-radius: 0;
  } /* IE11 */
}
