---
title: "Lists"
---

Hello.

Interactive list

<ul class="list list--interactive m-vertical--large">
  <li>
    <a href="#" class="list--interactive__link">
      <div class="flex--shrink">
        <div class="avatar m-right--medium">
          <img src="http://i.pravatar.cc/48?img=52" />

        </div>
      </div>
      <div class="flex--grow">
        Item
      </div>
      <div class="flex--shrink">
        <span class="text--font-weight-regular">Extra Information</span>
      </div>
    </a>
  </li>
  <li class="list-item--active">
    <a href="#" class="list--interactive__link">
      <div class="flex--shrink">
        <div class="avatar m-right--medium">
          <img src="http://i.pravatar.cc/48?img=45" />

        </div>
      </div>
      <div class="flex--grow">
        Active Item
      </div>
      <div class="flex--shrink">
        <span class="text--font-weight-regular">Extra Information</span>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="list--interactive__link">
      <div class="flex--shrink">
        <div class="avatar m-right--medium">
          <img src="http://i.pravatar.cc/48?img=25" />

        </div>
      </div>
      <div class="flex--grow">
        Item
      </div>
      <div class="flex--shrink">
        <span class="text--font-weight-regular">Extra Information</span>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="list--interactive__link">
      <div class="flex--shrink">
        <div class="avatar m-right--medium">
          <img src="http://i.pravatar.cc/48?img=12" />

        </div>
      </div>
      <div class="flex--grow">
        Item
      </div>
      <div class="flex--shrink">
        <span class="text--font-weight-regular">Extra Information</span>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="list--interactive__link">
      <div class="flex--shrink">
        <div class="avatar m-right--medium">
          <img src="http://i.pravatar.cc/48?img=8" />

        </div>
      </div>
      <div class="flex--grow">
        Item
      </div>
      <div class="flex--shrink">
        <span class="text--font-weight-regular">Extra Information</span>
      </div>
    </a>
  </li>


</ul>
