@import '../scss/inc';

.Badge {
  font-size: $font-size-x-small; 
  padding: 0 $spacing-small;
  background-color: $coolgrey-30;
  border-radius: $spacing-small + $spacing-x-small;
  color: $coolgrey-80;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  
 
  display: inline-block;
  font-weight: $font-weight-semibold;
  min-width: 1.5rem;
  text-align: center;

  &--red {
    color: $red-70;
    background-color: $red-30;
  }

  &--orange {
    color: $orange-80;
    background-color: $orange-30;
  }

  &--yellow {
    color: $yellow-90;
    background-color: $yellow-30;
  }

  &--lime {
    color: $lime-90;
    background-color: $lime-30;
  }

  &--green {
    color: $green-80;
    background-color: $green-30;
  }

  &--pine {
    color: $pine-80;
    background-color: $pine-30;
  }

  &--teal {
    color: $teal-90;
    background-color: $teal-30;
  }

  &--blue {
    color: $blue-90;
    background-color: $blue-30;
  }

  &--indigo {
    color: $indigo-80;
    background-color: $indigo-30;
  }

  &--purple {
    color: $purple-80;
    background-color: $purple-30;
  }

  &--pink {
    color: $pink-80;
    background-color: $pink-30;
  }

  &--black {
    color: $grey-80;
    background-color: $grey-20;
  }
}
