@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i');

html {
  font-size: $size__font--main;
  font-family: $font-family--main;
  color: $color__font--main;
  background: white;
  line-height: $lineheight--main;
}
