@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
  font-size: $size__font--main;
  font-family: $font-family--main;
  color: $color__font--main;
  background: white;
  line-height: $lineheight--main;
}
