@import '../scss/inc';

.PopoverWrapper {
  position: relative;
}

.Popover {
  @extend %reset-styles;
  position: absolute;
  border-radius: $border-radius-default;
  background-color: $white;
  white-space: nowrap;
  z-index: $z-index-popover;
  display: none;
  border: 1px solid $coolgrey-20;
  padding: $spacing-medium;

  &--open {
    display: block;
  }

  // --------------------
  // --- positionning ---
  // --------------------

  &--top {
    bottom: 100%;
    margin-bottom: $spacing-small + $spacing-x-small;
  }

  &--bottom {
    top: 100%;
    margin-top: $spacing-small + $spacing-x-small;
  }

  &--left {
    right: 100%;
    margin-right: $spacing-small + $spacing-x-small;
  }

  &--right {
    left: 100%;
    margin-left: $spacing-small + $spacing-x-small;
  }

  // -----------------
  // --- alignment ---
  // -----------------

  &--top,
  &--bottom {
    &.Popover--center {
      left: 50%;
      transform: translateX(-50%);
    }

    &.Popover--start {
      left: 0;
    }

    &.Popover--end {
      right: 0;
    }
  }

  &--left,
  &--right {
    &.Popover--center {
      top: 50%;
      transform: translateY(-50%);
    }

    &.Popover--start {
      top: 0;
    }

    &.Popover--end {
      bottom: 0;
    }
  }
}

.Popover__arrow {
  display: none;
  position: absolute;
  z-index: $z-index-popover + 1;

  &--open {
    display: block;
  }

  &--top {
    bottom: 100%;
    margin-bottom: $spacing-x-small;
  }

  &--bottom {
    top: 100%;
    margin-top: $spacing-x-small;
  }

  &--top,
  &--bottom {
    left: 50%;
    transform: translateX(-50%);
    height: $spacing-small;
    width: $spacing-small * 2;
  }

  &--left {
    right: 100%;
    margin-right: $spacing-x-small;
  }

  &--right {
    left: 100%;
    margin-left: $spacing-x-small;
  }

  &--left,
  &--right {
    top: 50%;
    transform: translateY(-50%);
    width: $spacing-small;
    height: $spacing-small * 2;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: $spacing-small solid transparent;
  }

  // --- top ---

  &--top::before {
    border-top-color: $coolgrey-20;
    top: 0;
  }

  &--top::after {
    border-top-color: $white;
    top: -1px;
  }

  // --- bottom ---

  &--bottom::before {
    border-bottom-color: $coolgrey-20;
    bottom: 0;
  }

  &--bottom::after {
    border-bottom-color: $white;
    bottom: -1px;
  }

  &--top::before {
    border-top-color: $coolgrey-20;
    top: 0;
  }

  &--top::after {
    border-top-color: $white;
    top: -1px;
  }

  &--top,
  &--bottom {
    &::before,
    &::after {
      left: 0;
    }
  }

  // --- left ---

  &--left::before {
    border-left-color: $coolgrey-20;
    left: 0;
  }

  &--left::after {
    border-left-color: $white;
    left: -1px;
  }

  // --- right ---

  &--right::before {
    border-right-color: $coolgrey-20;
    right: 0;
  }

  &--right::after {
    border-right-color: $white;
    right: -1px;
  }

  &--left,
  &--right {
    &::before,
    &::after {
      top: 0;
    }
  }
}
