@import '../scss/inc';

.ShowMore__content-wrapper {
  overflow: hidden;
  transition: all $duration-prompt $timing-function;
}

.ShowMore__content {
  padding-bottom: $spacing-medium;

  &--small {
    padding-bottom: $spacing-small;
  }

  &--large {
    padding-bottom: $spacing-large;
  }
}
