@import '../../../scss/inc';

.DatagridCell {
  height: $height-datagrid-default;
  flex-shrink: 0;
  text-align: left;
  display: flex;
  border-bottom: 1px solid $coolgrey-20;

  .DatagridRow--clickable:hover & {
    transition: background-color $transition;
    background-color: $blue-10;

    &--selected {
      background-color: $blue-20;
    }
  }

  &--compact {
    height: $height-datagrid-compact;
  }

  &--comfortable {
    height: $height-datagrid-comfortable;
  }

  &--number,
  &--percentage,
  &--int,
  &--integer,
  &--float {
    text-align: right;
  }

  &--boolean,
  &--error {
    text-align: center;
  }

  &--error {
    color: $red;
    font-size: $font-size-large;
  }

  &--header {
    background-color: $coolgrey-10;
    font-weight: $font-weight-semibold;
    padding: 0;
  }

  &--selected {
    background-color: $blue-20;
  }
}

.DatagridCell__container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  padding-left: $spacing-x-small;
  padding-right: $spacing-x-small;
}

.DatagridCell__content {
  @extend %reset-button;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 $input-padding;
  height: $height-default;
  line-height: $height-default;
  font-size: $font-size-small;
  overflow: hidden;
  max-width: 100%;
  flex: 1;
  border-radius: $border-radius-default;

  @extend %text-ellipsis;

  &--compact {
    height: $height-small;
    line-height: $height-small;
    font-size: $font-size-small;
  }

  .Avatar {
    font-size: 1.5rem;
  }

  &--comfortable {
    height: $height-large;
    line-height: $height-large;
    font-size: $font-size-medium;
  }

  &--editing {
    display: none;
  }

  &--image,
  &--avatar {
    display: flex;
  }

  &--image {
    > * {
      margin: auto;
    }
  }

  &--date {
    min-width: 7rem;
  }

  &--grouped {
    display: flex;
    align-items: center;
  }
}

// --- button ---
.DatagridCell__content--editable {
  cursor: pointer;
  position: relative;
  transition: all $transition;
  box-shadow: inset 0 0 0 1px $color-input-border;
  background-color: $white;
  &:hover {
    box-shadow: inset 0 0 0 1px $blue-40;
    cursor: pointer;
  }
  .DatagridCell--warning &,
  .DatagridCell--warning &:hover {
    box-shadow: inset 0 0 0 1px $orange;
    color: $orange-70;
  }

  .DatagridCell--danger &,
  .DatagridCell--danger &:hover {
    box-shadow: inset 0 0 0 1px $red;
    color: $red;
  }
}

.DatagridCell__content--edited {
  font-weight: bold;
  box-shadow: inset 0 0 0 1px $coolgrey-30;
}

.DatagridCell__content--disabled {
  box-shadow: inset 0 0 0 1px $color-input-border-disabled;
  &:hover {
    box-shadow: inset 0 0 0 1px $color-input-border-disabled;
    cursor: default;
  }
  .DatagridCell--warning &,
  .DatagridCell--warning &:hover {
    box-shadow: inset 0 0 0 1px $color-input-border-disabled;
  }

  .DatagridCell--danger &,
  .DatagridCell--danger &:hover {
    box-shadow: inset 0 0 0 1px $color-input-border-disabled;
  }
}

.DatagridCell__error-icon-wrapper {
  margin-right: $spacing-small;
  width: 1.25rem;
}

.DatagridCell__error-icon {
  color: $red;
  margin: 0 $spacing-small;
}

.DatagridCell__warning-icon {
  color: $orange;
  margin: 0 $spacing-small;
}

.DatagridCell__spinner {
  flex-shrink: 0;
  margin-left: $spacing-small;
}
