@import '../../../scss/inc';

.DatagridCell {
  height: 3rem;
  flex-shrink: 0;
  text-align: left;
  display: flex;
  border-bottom: 1px solid $coolgrey-20;

  .DatagridRow--clickable:hover & {
    transition: background-color $transition;
    background-color: $blue-10;

    &--selected {
      background-color: $blue-20;
    }
  }

  &--compact {
    height: 2.5rem;
  }

  &--comfortable {
    height: 3.5rem;
  }

  &--number,
  &--percentage,
  &--int,
  &--integer,
  &--float {
    text-align: right;
  }

  &--boolean,
  &--error {
    text-align: center;
  }

  &--error {
    color: $red;
    font-size: $font-size-large;
  }

  &--header {
    background-color: $coolgrey-10;
    font-weight: $font-weight-semibold;
  }

  &--selected {
    background-color: $blue-20;
  }
}

.DatagridCell--editable {
  padding-top: $spacing-x-small;
  padding-bottom: $spacing-x-small;
}

.DatagridCell__container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;

  .DatagridCell--editable & {
    padding-left: $spacing-x-small;
    padding-right: $spacing-x-small;
  }
}

.DatagridCell__content {
  @extend %reset-button;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: $spacing-x-small 0.625rem;
  min-height: 2rem;
  line-height: $line-height-input;
  overflow: hidden;
  max-width: 100%;
  flex: 1;
  border-radius: $border-radius-default;

  &--compact {
    max-height: 2.5rem;
  }

  &--comfortable {
    max-height: 3.5rem;
  }

  &--editing {
    display: none;
  }

  &--image,
  &--avatar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
  }

  &--image {
    > * {
      margin: auto;
    }
  }

  &--date {
    min-width: 7rem;
  }

  &--grouped {
    display: flex;
    align-items: center;
  }
}

// --- button ---
.DatagridCell__content--editable {
  cursor: pointer;
  position: relative;
  transition: all $transition;
  box-shadow: inset 0 0 0 1px $color-input-border;
  background-color: $white;
  &:hover {
    box-shadow: inset 0 0 0 1px $blue-40;
    cursor: pointer;
  }
  .DatagridCell--warning &,
  .DatagridCell--warning &:hover {
    box-shadow: inset 0 0 0 1px $orange;
    color: $orange-70;
  }

  .DatagridCell--danger &,
  .DatagridCell--danger &:hover {
    box-shadow: inset 0 0 0 1px $red;
    color: $red;
  }
}

.DatagridCell__content--edited {
  font-weight: bold;
  box-shadow: inset 0 0 0 1px $coolgrey-30;
}

.DatagridCell__content--disabled {
  box-shadow: inset 0 0 0 1px $color-input-border-disabled;
  &:hover {
    box-shadow: inset 0 0 0 1px $color-input-border-disabled;
    cursor: default;
  }
  .DatagridCell--warning &,
  .DatagridCell--warning &:hover {
    box-shadow: inset 0 0 0 1px $color-input-border-disabled;
  }

  .DatagridCell--danger &,
  .DatagridCell--danger &:hover {
    box-shadow: inset 0 0 0 1px $color-input-border-disabled;
  }
}

.DatagridCell__input {
  display: none;
  margin: 0;
  flex: 1;

  &--number,
  &--percentage,
  &--int,
  &--integer,
  &--float {
    .textfield {
      text-align: right;
    }
  }

  &--editing {
    display: block;
  }

  &--list {
    display: block;

    &.DatagridCell__input--edited select {
      font-weight: bold;
    }
  }
}

.DatagridCell__error-icon-wrapper {
  margin-right: $spacing-small;
  width: 1.25rem;
}

.DatagridCell__error-icon {
  color: $red;
  margin: 0 $spacing-small;
}

.DatagridCell__warning-icon {
  color: $orange;
  margin: 0 $spacing-small;
}

.DatagridCell__spinner {
  flex-shrink: 0;
  margin-left: $spacing-small;
}
