@import '../../../scss/inc';

.DatagridCell {
  height: $height-datagrid-default;
  flex-shrink: 0;
  min-width: 2rem;
  text-align: left;
  display: flex;
  border-bottom: 1px solid $coolgrey-20;
  background-color: $white;

  .DatagridRow--clickable:hover & {
    transition: background-color $transition;
    background-color: $blue-10;

    &--selected {
      background-color: $blue-20;
    }
  }

  &--detached {
    border-top: 1px solid $coolgrey-20;
  }

  &--first {
    border-left: 1px solid $coolgrey-20;

    &.DatagridCell--detached {
      border-top-left-radius: $border-radius-default;
    }

    &.DatagridCell--last-row {
      border-bottom-left-radius: $border-radius-default;
    }
  }

  &--last {
    border-right: 1px solid $coolgrey-20;

    &.DatagridCell--detached {
      border-top-right-radius: $border-radius-default;
    }

    &.DatagridCell--last-row {
      border-bottom-right-radius: $border-radius-default;
    }
  }

  &--compact {
    height: $height-datagrid-compact;
  }

  &--comfortable {
    height: $height-datagrid-comfortable;
  }

  &--header {
    height: 2.5rem;

    &.DatagridCell--comfortable {
      height: 3.5rem;
    }
  }

  &--number,
  &--percentage,
  &--int,
  &--integer,
  &--float {
    text-align: right;
  }

  &--boolean,
  &--error {
    text-align: center;
  }

  &--error {
    color: $red;
    font-size: $font-size-large;
  }

  &--header {
    background-color: $coolgrey-10;
    font-weight: $font-weight-semibold;
    padding: 0;
  }

  &--summary {
    background: $color-row-header-bkgd;
  }

  &--selected {
    background-color: $blue-20;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

.DatagridCell__container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  padding-left: $spacing-x-small;
  padding-right: $spacing-x-small;
}

.DatagridCell__content {
  @extend %reset-button;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 $input-padding;
  height: $height-default;
  line-height: $height-default;
  font-size: $font-size-small;
  border: 1px solid transparent;
  overflow: hidden;
  max-width: 100%;
  flex: 1;
  border-radius: $border-radius-default;
  display: flex;
  align-items: center;

  @extend %text-ellipsis;

  .Avatar {
    font-size: $height-datagrid-default - 0.375;
  }

  &--compact {
    height: $height-datagrid-compact;
    line-height: $height-datagrid-compact;
    font-size: $font-size-small;
  }

  &--comfortable {
    height: $height-datagrid-comfortable;
    line-height: $height-datagrid-comfortable;
    font-size: $font-size-large;

    .Avatar {
      font-size: $height-datagrid-comfortable - 0.75;
    }
  }

  &--header {
    height: 2.5rem;
    font-size: 1rem;
    line-height: 1.2;

    &.DatagridCell__content--comfortable {
      height: 3.5rem;
    }
  }

  &--editing {
    display: none;
  }

  &--image,
  &--avatar {
    display: flex;
  }

  &--image {
    > * {
      margin: auto;
    }
  }

  &--grouped {
    display: flex;
    align-items: center;
  }
}

.DatagridCell__content-value {
  @extend %text-ellipsis;
  flex: 1;
  min-width: 0;
}

.DatagridCell__content-icon-left {
  margin-right: 0.625rem;
}

// --- button ---
.DatagridCell__content--editable {
  cursor: pointer;
  position: relative;
  transition: all $transition;
  background-color: $blue-20;
  height: $height-datagrid-default - 0.375;
  line-height: $height-datagrid-default - 0.375;

  &:hover {
    border-color: $blue-40;
    box-shadow: 0 0 0 1px $blue-40;
    cursor: pointer;
  }

  .DatagridCell--warning &,
  .DatagridCell--warning &:hover {
    border-color: $orange;
    color: $orange-70;
  }

  .DatagridCell--danger &,
  .DatagridCell--danger &:hover {
    border-color: $red;
    color: $red;
  }

  &.DatagridCell__content--compact {
    height: $height-datagrid-compact - 0.125;
    line-height: $height-datagrid-compact - 0.125;
  }

  &.DatagridCell__content--comfortable {
    height: $height-datagrid-comfortable - 0.75;
    line-height: $height-datagrid-comfortable - 0.75;
  }

  &.DatagridCell__content--selected {
    background-color: $white;
  }
}

.DatagridCell__content--edited {
  font-weight: bold;
}

.DatagridCell__content--disabled {
  box-shadow: inset 0 0 0 1px $color-input-border-disabled;
  &:hover {
    box-shadow: inset 0 0 0 1px $color-input-border-disabled;
    cursor: default;
  }
  .DatagridCell--warning &,
  .DatagridCell--warning &:hover {
    box-shadow: inset 0 0 0 1px $color-input-border-disabled;
  }

  .DatagridCell--danger &,
  .DatagridCell--danger &:hover {
    box-shadow: inset 0 0 0 1px $color-input-border-disabled;
  }
}

.DatagridCell__error-icon-wrapper {
  margin-right: $spacing-small;
  width: 1.25rem;
}

.DatagridCell__error-icon,
.DatagridCell__warning-icon {
  margin: 0 $spacing-small;

  .DatagridCell--comfortable & {
    font-size: 1.25rem;
  }
}

.DatagridCell__error-icon {
  color: $red;
}

.DatagridCell__warning-icon {
  color: $orange;
}

.DatagridCell__spinner {
  flex-shrink: 0;
  margin-left: $spacing-small;
}
