@import '../../../scss/inc';

.DatagridResizer {
  position: fixed;
  z-index: 100000;
  cursor: col-resize;
  opacity: 0;

  &:hover,
  &--dragging {
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    left: -3px;
    top: 0;
    background-color: $coolgrey-20;
  }

  &--dragging {
    &::before {
      background-color: $blue;
    }
  }
}

.DatagridResizer__ruler {
  width: 2px;
  background-color: $blue;
  position: absolute;
  left: -1px;
  display: none;
  .DatagridResizer--dragging & {
    display: block;
  }
}
